/*
      R E S E T S
                    */

.crm-container *,
.crm-container *::before,
.crm-container *::after {
    box-sizing: border-box;
}
#crm-container .hiddenElement,
.crm-container .hiddenElement {
	display: none;
}
#crm-container .clear,
.crm-container .clear {
	clear: both;
}
#crm-container table th {
	background-color: transparent;
}
.crm-container ul#actions {
    list-style: none;
    margin: 0;
}

/* JQueryUI resets */

.ui-tabs .ui-tabs-panel {
    padding: inherit;
}

/*
      A C C E S S I B I L I T Y
                                    */

/* text exclusively for screen readers */

.sr-only {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}	

/*
      T Y P E
                */

/* Set Default Type */

.crm-container, #crm-container {
    font-family: var(--crm-font);
    font-size: var(--crm-font-size);
    color: var(--crm-text);
    background: var(--crm-background);
}

.crm-container table,
#crm-container tr, 
#crm-container tr td,
#crm-container p,
#crm-container ul {
    font-size: var(--crm-font-size);
    color: var(--crm-text);
}

/* Core type */

strong, b {
    font-family: var(--crm-font-bold);
    font-weight: var(--crm-bold-weight);
}
em {
    font-family: var(--crm-font-italic);
    font-style: var(--crm-italic-style);
}
strong em, em strong {
    font-family: var(--crm-font-bold-italic);
    font-weight: var(--crm-bold-weight);
    font-style: var(--crm-italic-style);
}

/* 
      L I N K 
                 */

.crm-container a {
	color: var(--crm-link);
	text-decoration: none;
}
.crm-container a:hover, 
.crm-container a:focus {
	color: var(--crm-link-hover);
	text-decoration: var(--crm-link-decoration);
}
.crm-container a:focus {
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
} */

/*
      P O S I T I O N
                        */

.crm-flex-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.css_right {
    float: right;
}
