/* Reset CSS inherited from the parent CMS/admin theme to create a unified base. */

.crm-container *, .crm-container *::before, .crm-container *::after {
    box-sizing: border-box;
}

/* Set Default Type */

.crm-container *, 
#crm-container * {
    font-family: var(--default-font-fam);
    font-size: var(--default-font-size);
}

.crm-container table,
#crm-container tr, 
#crm-container tr td,
#crm-container p,
#crm-container ul {
    font-size: var(--default-font-size);
}