/* NB: CMS-specific changes should be name-spaced to the CMS *and* .crm-container, with exception of default font-size resets */

/******************
   BACKDROP
*******************/

/* Backdrop - html.admin-bar */

/******************
   DRUPAL
*******************/

/* Drupal - body.page-civicrm */

/* D7 */
body.page-civicrm > #page {
    padding: 0;
    margin: 0;
    --crm-page-padding: 1rem 3rem;
}
body.page-civicrm div.status {
    background-image: none;
}

/* D8+ */

body.page-civicrm header.content-header {
    margin-bottom: 0;
    background-color: var(--crm-c-background);
}
body.page-civicrm main.page-content {
    margin-top: 0;
}
body.page-civicrm header + div.layout-container {
    background-color: var(--crm-c-page-background) !important;
    margin: 0 !important; /* use of important vs some themes */
}
/* D7 Seven */
body.page-civicrm > #branding {
    background-color: var(--crm-c-page-background);
}
/* D9 Claro */

#block-claro-content {
    --crm-page-padding: 3rem;
    --crm-page-width: calc(100% - var(--crm-page-padding) - var(--crm-page-padding));
}
#block-claro-content .crm-container:where(.form-item, p, .help p, .button) {
    margin: 0;
}
#block-claro-content .button:not(:focus) {
    box-shadow: none;
}
/* D9 Seven */

#block-seven-content {
    --crm-page-padding: 2rem;
}
#block-seven-breadcrumbs {
    --crm-page-padding: 2rem;
    padding: 0 var(--crm-page-padding);
}
#block-seven-content .button {
    text-shadow: none;
    margin-left: 0;
}
#block-seven-content .form-composite > legend, 
#block-seven-content .label {
    font-weight: inherit;
}


/******************
   JOOMLA
*******************/

/* Joomla 3 - body.com_civicrm */

body.com_civicrm {
    font-size: 100%;
}
body.admin.com_civicrm {
    --crm-page-padding: 3rem;
    --crm-page-width: 100%;
}

/* J4 resets */

body.admin.com_civicrm.layout-default .crm-container .dropdown-toggle::after {
    display: none;
}
body.admin.com_civicrm.layout-default .crm-container details summary ~ * {
    margin-top: 0;
}

/******************
   WORDPRESS
*******************/

body.wp-admin {
    --crm-page-padding: 1rem 2rem 1rem 1rem;
    font-size: 100%;
}
body.wp-admin #crm-container {
    background: transparent;
}

/******************
   STANDALONE
*******************/

html.crm-standalone {
    --crm-page-width: 100%;
}