/* Civi CSS Framework (civicrm.css), the core CSS to make Civi UI behave
   coherently in a neutral, clean, responsive and accessible way with as little
   css as possible. For dev purposes each components is its own file, these 
   can be merged later. */

@import url(components/_accordion.css);