

/* CSS hacks to accommodate quirks and inconsistencies in the markup.
   The end goal (Civi 7.0?) would be to remove these once the markup is
   consistent, and another  */

/*
      A C C O R D I O N S
      From Civi 5.72 these are only needed for extensions
                              */


/* Reset */

.crm-container .widget-content .crm-accordion-wrapper.collapsed .crm-accordion-header,
#crm-container .widget-content .crm-accordion-header,
.crm-container .crm-accordion-inner .crm-accordion-header, 
.crm-container .crm-accordion-wrapper .crm-master-accordion-header, 
.crm-container .crm-collapsible .collapsible-title,
.crm-container .collapsed .crm-accordion-header,
.crm-container .crm-accordion-header{
	background-image: none;
	text-indent: 0;
}
.crm-container div.collapsed .crm-accordion-body,
.crm-container div.crm-collapsible.collapsed .collapsible-title+*,
.crm-container tr.hiddenElement {
	display: none;
}
.accordion.ui-accordion.ui-widget.ui-helper-reset {
	border: 0 solid transparent;
	box-shadow: var(--crm-block-shadow);
}

/* Expand/collapse icons */

.crm-container .crm-accordion-header::before, 
.af-collapsible > .af-title::before,
.crm-dashlet-header .crm-dashlet-collapse.fa-caret-down::before,
.crm-dashlet-header .crm-dashlet-collapse.fa-caret-right::before,
.crm-container .crm-master-accordion-header:before,
.crm-container .expanded::before,
.crm-container a.collapsed::before,
.crm-container a.crm-expand-row:not(.expanded)::before,
.crm-container .civicrm-community-messages .crm-collapsible .collapsible-title::before,
.crm-container .show-children.collapsed::before {
	font-size: var(--crm-font-size);
	font-style: normal;
	text-rendering: auto;
	text-indent: inherit;
	font-family: FontAwesome;
	color: var(--expand-icon-color);
    margin-right: var(--expand-icon-spacing);
	display: inline-block;
	transform-origin: center center;
	content: var(--expand-icon);
	cursor: var(--hover-clickable);
}
.crm-container .crm-accordion-header::before, 
.af-collapsible > .af-title::before,
.crm-dashlet-header .crm-dashlet-collapse.fa-caret-right::before,
.crm-dashlet-header .crm-dashlet-collapse.fa-caret-down::before,
.crm-container .crm-master-accordion-header:before,
.crm-container a.collapsed::before,
.crm-container a.expanded::before,
.crm-container a.crm-expand-row.expanded::before,
.crm-container .civicrm-community-messages .crm-collapsible .collapsible-title::before,
.crm-container .show-children.expanded::before {
	content: var(--expand-icon);
	transform: var(--expand-transform);
	transform-origin: center center;
	transition: var(--expand-transition);
	float: left;
}
.crm-container .collapsed .collapsible-title::before,
.crm-container .collapsed .crm-accordion-header::before, 
.crm-accordion-wrapper.collapsed .crm-master-accordion-header:before,
.crm-dashlet-header .crm-dashlet-collapse.fa-caret-right::before,
.af-collapsible.af-collapsed > .af-title::before,
.crm-container a.collapsed:not(.expanded)::before,
.crm-container a.crm-expand-row::before,
.crm-container .civicrm-community-messages .crm-collapsible.collapsed .collapsible-title::before {
    transform: none;
	transform-origin: center center;
	transition: var(--expand-transition);
}
.crm-container a.crm-expand-row:not(.expanded)::before,
.crm-container a.crm-expand-row.expanded::before {
	margin-right: 0;
}
a.crm-expand-row:hover,a.crm-expand-row:focus {
	text-decoration: none;
	color: inherit;
}

/* Header  - NB: use of #crm-container is typically used to override external css files, e.g. dashboard.css */

.crm-container .crm-accordion-header,
.crm-container .crm-collapsible .collapsible-title,
.crm-container span.collapsed:not(.show-children),
.af-collapsible > .af-title {
	cursor: var(--hover-clickable);
	padding: var(--expand-header-padding);
	border-radius: var(--crm-roundness) var(--crm-roundness) 0 0;
	background-color: var(--expand-header-bg);
	font-weight: var(--expand-header-weight);
	color: var(--expand-header-color);
} 
.crm-container .crm-accordion-wrapper.collapsed .crm-accordion-header,
.crm-container .crm-collapsible.collapsed .collapsible-title,
.af-collapsible.af-collapsed > .af-title {
	border-radius: var(--crm-roundness);
}
#crm-container .widget-content .crm-accordion-header,
.crm-container .crm-accordion-inner .crm-accordion-header,
.crm-container .crm-collapsible .collapsible-title{
	background-color: transparent;
	color: var(--crm-text);
	font-size: var(--crm-font-size);
}
.crm-accordion-wrapper .crm-accordion-header.active,
.crm-accordion-wrapper .crm-accordion-wrapper.collapsed:hover,
.crm-accordion-wrapper .crm-accordion-wrapper.collapsed:focus,
.crm-accordion-wrapper .crm-accordion-header:hover,
.crm-accordion-wrapper .crm-accordion-header.active:hover {
	background-color: var(--expand-header-bg-active);
}
.crm-container .crm-accordion-wrapper .crm-master-accordion-header {
	background-color: var(--expand-header2-bg);
	font-weight: var(--expand-header2-weight);
	color: var(--expand-header2-color);
}
.crm-container .crm-accordion-wrapper .crm-master-accordion-header:hover,
.crm-container .crm-accordion-wrapper .crm-master-accordion-header:focus {
	background-color: var(--expand-header2-bg);
}
/* Body */

.crm-container .crm-accordion-wrapper .crm-accordion-body {
	border-radius: 0 0 var(--crm-roundness) var(--crm-roundness);
	border: var(--expand-body-border);
	padding: var(--expand-body-padding);
	background-color: var(--expand-body-bg);
	box-shadow: var(--expand-body-box-shadow);
	animation: crm-details-show .3s ease-in-out;
}
#crm-container .widget-content .crm-accordion-body,
.crm-container .crm-collapsible .crm-summary-block {
	padding: var(--expand-body-padding);
}
.crm-container .crm-master-accordion-header + .crm-accordion-body {
	border: var(--expand-body2-border);
	background-color: var(--expand-body2-bg);
}
#crm-container summary label {
	color: inherit;
	font-size: inherit;
}

/*
      A L E R T S
                              */

.crm-container del, 
.crm-container .crm-is_deleted, 
.crm-container table.caseSelector td.status-urgent, 
.crm-container .font-red, 
.crm-container .status-removed, 
.crm-container .status-overdue, 
.crm-container .status-fatal, 
.crm-container .status-hold, 
.crm-container .status-past, 
.crm-contact-deceased, 
.crm-container .status-warning {
	color: var(--crm-alert);
}

/*
      B U T T O N S
	  For buttons not using .crm-button or .btn or <button>
                              */

#crm-container a.button,
.crm-container button,
.crm-container .ui-button {
	display: inline-block;
	text-align: var(--btn-align);
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: var(--btn-border);
	padding: var(--btn-padding);
	font-size: var(--crm-font-size);
	border-radius: var(--btn-radius);
	user-select: none;
	margin-bottom: 0;
	background-color: var(--crm-primary);
	color: var(--crm-primary-text) !important;
	line-height: 1.5;
	display: flex;
	align-items: center;
	width: fit-content;
	gap: var(--btn-icon-spacing); /* last four lines centre icons */
}
.crm-container .ui-button:hover,
.crm-container .ui-button:focus,
[type="button"]:hover, [type="reset"]:hover, [type="submit"]:hover,
[type="button"]:focus, [type="reset"]:focus, [type="submit"]:focus {
    background: var(--crm-primary-hover);
	text-decoration: none;
}
.crm-button > input[type="button"],
.crm-button > input[type="submit"] {
    background: transparent;
    color: inherit;
    padding: 0;
}
#crm-container a.button,
.crm-container [type="button"] {
    background: var(--crm-secondary);
    color: var(--crm-secondary-text);
    font-weight: normal;
	text-decoration: none;
}
.crm-container a.button:hover,
.crm-container a.button:focus,
.crm-container [type="button"]:hover,
.crm-container [type="button"]:focus {
    background: var(--crm-secondary-hover);
}
.crm-actions-ribbon a.button,
.crm-container .action-link a.button {
    background: var(--crm-secondary);
    color: var(--crm-secondary-text);
    font-weight: normal;
	text-decoration: none;
}
.crm-actions-ribbon a.button:hover,
.crm-actions-ribbon a.button:focus,
.crm-container .action-link a.button:hover,
.crm-container .action-link a.button:focus {
    background: var(--crm-secondary-hover);
	text-decoration: none;
}
/* .crm-container .ui-tabs ul.ui-tabs-nav a.button { /* resets styles for buttons on a tab banner 
	padding: var(--btn-padding);
	line-height: 1.5;
} */

/* Small buttons */

.crm-container .btn-xs, 
.crm-container .crm-accordion-header a.crm-hover-button,
.crm-container .crm-form-date-wrapper a.crm-hover-button, 
.crm-container .btn-group-xs > .btn, 
body[class*="page-civicrm-report-"] #report-tab-order-by-elements #optionFieldLink.btn-group-xs > .form-link, 
.crm-container .crm-search-form-block.btn-group-xs > a, 
.crm-container .crm-search-form-block.btn-group-xs > span, 
.page-civicrm-admin.page-civicrm-a .crmCaseType .btn-group-xs > .crm-button, 
.page-civicrm-a.page-civicrm-a .crmCaseType .btn-group-xs > .crm-button, 
.crm-container #crm-submit-buttons .btn-group-xs > button.crm-form-submit, 
.crm-container .btn-group-xs > button.crm-button.crm-form-submit, 
.crm-container .btn-group-xs > .crm-hover-button, 
.crm-container .ui-dialog-buttonset .btn-group-xs > .ui-button, .crm-container .btn-group-xs > a.button, 
.crm-container .btn-group-xs > input[type="button"] {
    padding: var(--xs) var(--s);
    font-size: var(--crm-small-font-size);
    line-height: 1.5;
    border-radius: var(--crm-roundness);
} 
#crm-container .btn-group-xs button {
    padding: var(--xs) var(--s);
    font-size: var(--crm-small-font-size);
}
.crm-container button.btn:has(.fa-square-o) {
	padding-inline: var(--m);
}

/* 
	F O R M
	Inline labels/inputs with a 17% width?
			*/

@media (min-width: 480px) {
	.crm-container .crm-section .label {
		float: left;
		width: 17%;
		text-align: right;
	}
	.crm-container .crm-section .content {
		margin-left: 19%;
	}
}

/* 
	T A B S 
				*/

.afadmin-list .nav-tabs + .form-inline + table,
.crm-search-nav-tabs ~ .ng-scope {
    border: 1px solid var(--crm-tab-border-col);
    border-top: 0 solid transparent;
    border-radius: 0 0 var(--crm-roundness) var(--crm-roundness);
	background: var(--crm-tab-bg-active);
}
.afadmin-list .nav-tabs + .form-inline,
.crm-search-nav-tabs ~ .ng-scope > .form-inline {
    padding: var(--r);
	background: var(--crm-tab-bg-active);
}
.crm-container .ui-tabs ul.crm-extensions-tabs-list a em {
	display: none;
}

/*
      P A G E S
                              */

/* Search Kit Builder */

#bootstrap-theme.crm-search .crm-search-nav-tabs > div.btn-group {
    top: calc(-1 * var(--m));
}
#bootstrap-theme.crm-search .dropdown-menu li .form-inline {
	padding: 0;
}
#bootstrap-theme.crm-search .crm-search-admin-relative textarea {
    width: 100%;
}
#bootstrap-theme.crm-search .crm-search-admin-relative .api4-clause-group-sortable {
    margin: var(--r) 0;
}
#bootstrap-theme.crm-search .crm-search-admin-relative details { /* only way to target settings accordions */
    border: var(--expand-body-border);
    border-radius: var(--crm-roundness);
}
#bootstrap-theme.crm-search .crm-search-admin-relative details > summary {
    background: var(--expand-header-bg);
    color: var(--expand-header-color);
    padding: var(--crm-padding-small) var(--crm-padding-reg);
}
#bootstrap-theme.crm-search .crm-search-admin-relative details > fieldset {
    padding: 0;
    border: 0 solid transparent;
}
#bootstrap-theme.crm-search .crm-search-admin-relative details > fieldset .form-inline:not(td) {
    background: var(--crm-drag-background);
    border-radius: var(--crm-roundness);
    margin-bottom: var(--s2);
    padding: var(--crm-padding-small) var(--crm-padding-reg);
}
#bootstrap-theme.crm-search .crm-search-admin-relative details > fieldset fieldset,
#bootstrap-theme.crm-search crm-search-admin-display fieldset .form-inline > fieldset {
    margin: 0;
    padding: 0;
    border: 0 solid transparent;
}
#bootstrap-theme.crm-search crm-search-admin-link-group {
    background: var(--crm-background2);
}
#bootstrap-theme.crm-search crm-search-admin-link-group table {
    margin: var(--crm-padding-reg);
	max-width: calc(100% - var(--crm-padding-reg) - var(--crm-padding-reg));
	box-shadow: none;
}
#bootstrap-theme.crm-search ul.nav-stacked li:last-of-type {
    margin-top: var(--r);
}
#bootstrap-theme.crm-search ul.nav-stacked li:not(.active) button {
    display: none;
}
#bootstrap-theme.crm-search ul.nav-stacked li:has(.btn-xs) a {
    padding-right: 5ch;
}
#bootstrap-theme.crm-search .crm-search-admin-edit-columns {
    padding: 0;
    border: 0 solid transparent;
}
#bootstrap-theme.crm-search fieldset.crm-draggable {
    background-color: var(--crm-drag-background);
    border-radius: var(--crm-roundness);
    border: 0 solid transparent !important;
    padding: var(--crm-padding-small);
    margin: var(--m)0 ;
}
#bootstrap-theme.crm-search .crm-search-admin-edit-columns details {
    background-color: var(--crm-page-background);
    border-radius: var(--crm-roundness);
    border: 0;
}
#bootstrap-theme.crm-search .crm-search-admin-edit-columns details summary {
    background: var(--expand-header2-bg);
    color: var(--expand-header2-color);
    padding: var(--crm-padding-reg);
}
#bootstrap-theme.crm-search .crm-search-admin-edit-columns details > *:not(summary) {
    padding-inline: var(--crm-padding-reg);
}
#bootstrap-theme.crm-search .crm-search-admin-edit-columns details > *:first-child {
    padding-bottom: var(--crm-padding-reg);
}
#bootstrap-theme.crm-search .crm-search-admin-edit-columns details > *:last-child {
    padding-bottom: var(--crm-padding-reg);
}
/* Contacts - New */

.CRM_Contact_Form_Contact > .crm-form-block > details,
.CRM_Contact_Form_Contact > .crm-form-block > div > details {
	margin-inline: calc(-1 * var(--crm-form-block-padding));
	padding-inline: var(--expand-2-body-padding);
	margin-bottom: var(--expand-2-body-padding);
}
#crm-container .crm-add-address-wrapper {
	height: auto;
}

/* Contact dashboard page */
.crm-container div.contact_panel {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: var(--crm-dash-panel-padding);
}
#crm-container div.contactCardLeft,
#crm-container div.contactCardRight {
	width: 100%;
	display: block;
	float: none;
	clear: none;
}  
#mainTabContainer .crm-summary-block .crm-container-snippet table {
	box-shadow: none;
	border: 0;
	padding: 0;
	margin: 0;
}
#crm-main-content-wrapper:has(.crm-contact-page) {
    box-shadow: var(--crm-block-shadow);
}
#crm-container div.crm-summary-contactname-block {
    background: var(--crm-dash-header-bg);
    color: var(--crm-dash-header-col);
    min-height: 60px;
    padding: var(--crm-dash-header-padding);
    position: relative;
}
#crm-container #crm-contactname-content .crm-summary-display_name {
    padding: var(--crm-dash-header-padding);
    font-size: var(--crm-dash-header-size);
    padding-inline: 0;
}
div.crm-summary-contactname-block + .crm-actions-ribbon {
    color: var(--crm-dash-header-col);
    background-color: var(--crm-dash-header-bg);
    margin-bottom: 0;
    clear: both;
}
#crm-container #crm-contactname-content > .crm-inline-block-content {
    display: flex;
    gap: var(--r);
    align-items: center;
}
#crm-container #crm-contactname-content .crm-edit-help {
    order: 2;
    position: relative;
    height: var(--l);
}
.crm-actions-ribbon ul#actions {
    list-style: none;
    display: grid;
    grid-template-columns: min-content min-content auto min-content min-content;
    gap: var(--m);
    margin: 0;
    padding: var(--crm-dash-header-padding);
    background: rgba(256,256,256,0.1);
}
.crm-search-col-type-field  span.ng-scope a {
    display: flex;
    gap: var(--btn-icon-spacing);
    align-items: center;   
}
#mainTabContainer #tagtree {
	max-height: 100%;
	overflow: inherit;
}

/* Tag mgmt page */

.crm-container .tag-tree-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: var(--m) 0;
}
.crm-container .tag-tree-wrapper div.tag-tree {
    width: auto;
}
.crm-container .tag-tree-wrapper div.tag-info {
    width: auto;
    position: relative;
    background: var(--crm-background);
    border: 0 solid transparent;
    box-shadow: var(--crm-block-shadow);
    padding: var(--crm-padding-reg);
    font-family: var(--crm-font);
    border-radius: var(--crm-roundness);
    top: 0;
}
.crm-container .tag-tree-wrapper div.tag-info .tdl {
    font-weight: var(--crm-bold-weight);
    font-family: var(--crm-font-bold);
    color: var(--crm-text);
}
.crm-container .tag-tree-wrapper div.tag-info .crm-submit-buttons {
    margin: var(--m) 0 0;
    padding: 0;
}
.crm-container .tag-tree-wrapper .tag-tree a.crm-tag-item {
    font-size: var(--r);
    font-family: var(--crm-font);
    height: auto;
    padding: var(--crm-padding-small);
    border-radius: var(--btn-radius);
}
@media (max-width: 768px) {
    .crm-container .tag-tree-wrapper {
        display: block;
    }  
}
/* Dedupe change usage */
.crm-container label:has(.dedupe-rules-dialog-desc) input {
	float: left;
	margin: var(--s) var(--m) 0 0;
}
.crm-container .dedupe-rules-dialog-desc {
	font-weight: normal;
	font-family: var(--crm-font);
}
/* CiviContribute dashboard */

.crm-container #ContributionCharts .ui-tabs-nav {
	gap: 1px; /* to handle white space in markup */
}
#ContributionCharts ul.ui-tabs-nav li.crm-tab-button {
	padding: var(--m) var(--xs);
}
#ContributionCharts ul.ui-tabs-nav .float-right {
	margin-left: auto;
}
#ContributionCharts ul.ui-tabs-nav .float-right table,
#ContributionCharts ul.ui-tabs-nav .float-right table tr {
	background: none;
	margin: 0;
	border: 0 solid transparent;
	box-shadow: none;
}
#ContributionCharts #chartData {
	padding: var(--crm-padding-reg);
	box-shadow: none;
	background: var(--crm-tab-bg-active);
}
/* Include profile (contribtuion page and events  */
.crm-contribution-contributionpage-custom-form-block-custom_pre_id td.html-adjust > div > div,
.crm-contribution-contributionpage-custom-form-block-custom_post_id td.html-adjust > div > div,
.crm-event-manage-registration-form-block-custom_pre_id td > div > div,
.crm-event-manage-registration-form-block-custom_post_id td > div > div {
	display: flex;
	gap: var(--s);
}
/* event dashboard */
.CRM_Event_Form_Search .button {
	float: left;
	margin-right: var(--m);
}
#crm-event-dashboard-heading + div a,
.CRM_Event_Form_SearchEvent .crm-content-block .float-right a {
	display: flex;
	padding: 0 0 var(--m) 0;
	gap: var(--m);
	align-items: center;
}
/* Dedupe page */
#browseValues_Individual > div:last-of-type,
#browseValues_Household > div:last-of-type,
#browseValues_Organization > div:last-of-type {
	float: none !important; /* overwrites inline 'float' that breaks page wrapper */
	display: flex;
	justify-content: flex-end;
	padding: 0 0 var(--l) 0;
}
/* New mailing */
.crmMailing-preview .preview-contact,
.crmMailing-preview .preview-group {
	display: flex;
	height: auto;
	align-items: center;
	gap: var(--m);
}

/* Temp CSS to facilitate the build and testing, place for things lacking a home */

#crm-container {
	position: absolute;
	width: calc(100% - var(--crm-page-padding) - var(--crm-page-padding));
	left: 0;
	padding: 2rem var(--crm-page-padding);
}

/* 
	P A D D I N G    F I X E S
								*/

/* General */
.crm-container .crm-form-block .crm-form-block {
	padding: var(--crm-form-block-padding);
	margin-bottom: var(--r);
}
/* Save as template text on new email form */
.crm-container #editMessageDetails {
	padding: var(--crm-padding-reg);
}
/* Contact dashboard page */
.crm-contact-page {
    padding: 0;
}
#mainTabContainer .form-group.pull-right  > .btn-group {
    margin-bottom: var(--m2);
}
/* Search */
.crm-search-display-pager {
    padding: 0 var(--r) var(--r) var(--r);
}
/* Contact dashboard page */
.crm-actions-ribbon .crm-next-action,
.crm-actions-ribbon .crm-previous-action {
    margin-left: auto;
}
.crm-container .view-contact-groups .description {
	margin: var(--r) 0;
}
/* Contacts - new */
.CRM_Contact_Form_Contact > .crm-form-block .crm-submit-buttons:first-of-type {
	margin-bottom: var(--crm-padding-reg);
	padding: 0;
}
.CRM_Contact_Form_Contact > .crm-form-block .crm-submit-buttons:last-of-type {
	margin-top: var(--crm-padding-reg);
	padding: 0;
}
/* Imports */
.crm-form-block.crm-import-mapfield-form-block .help,
.crm-form-block.crm-import-preview-form-block .help,
.crm-activity-import-preview-form-block .help {
	background-color: transparent;
	border: 0;
}
/* Manage groups */
.crm-group-search-form-block details table,
.crm-group-search-form-block details table tr {
	border: 0 solid transparent;
}
/* Group contents / contact listing */
.crm-container .crm-form-block #searchForm .crm-form-block {
	padding: 0;
	margin-bottom: 0;
}
.crm-search-form .crm-submit-buttons {
	padding: 0 0 var(--m);
}
.crm-search-form .crm-search-form-block {
	margin-bottom: var(--r);
}
/* Dedupe exceptions */
details + .crm-content-block:has(.dataTables_wrapper) {
	margin-top: var(--r);
}
/* Contribution page edit/create */
.crm-container .crm-premium-settings-accordion {
	margin-bottom: var(--crm-padding-reg);
}
/* Personal Campaign pages */
.CRM_PCP_Form_PCP .messages.status {
	margin: var(--crm-padding-reg) 0;
}
/* 
	R E S P O N S I V E
						*/

/* Contact dashboard */

@media (max-width: 768px) {
	.crm-container div.contact_panel {
		display: block;
	}
}

/*

	A F F O R M
					*/

.crm-container .af-layout-inline ~ .btn-group.pull-right {
	margin: var(--crm-padding-reg) 0;
}		