/* River Lee branch: Washington Square (aka Greenwich 2.0) */


:root { 

/* FONTS */

--crm-font:;
--crm-font-bold:;
--crm-bold-weight: bold;
--crm-font-italic:;
--crm-italic-style: italic;
--crm-font-bold-italic:;
    
/* COLOUR */

color-scheme: light dark; /* check to use simpler syntax late-2024 (Edge+iOS Safari)

/* COLOUR NAMES */
--crm-darkest: #0a0a0a;
--crm-gray-900: #2f2f2e;
--crm-gray-800: #3e3e3e;
--crm-gray-700: #696969;
--crm-gray-600: #828388;
--crm-gray-500: #919297;
--crm-gray-400: #adaeb3;
--crm-gray-300: #d3dee2;
--crm-gray-200: #c2c0c0;
--crm-gray-100: #e2e1e1;
--crm-gray-050: #f3f6f7;
--crm-gray-025: #f0f0f0;
--transparent-black: rgba(0, 0, 0, 0.05);
--crm-blue: #2C99A4;
--crm-blue-light: #dff0f4;
--crm-blue-dark: #005c99;
--crm-blue-mod: #66afe9;
--crm-purple: #4d4d69;
--crm-purple-dark: #3e3e54;
--crm-green: #b0d730;
--crm-green-light: #f1f8eb;
--crm-red: #B24B4F;
--crm-red-light: #ffdddd;
--crm-amber: #c67605;
--crn-amber-light: #fbf0e2;
--crm-yellow: #ffff66;
--crm-yellow-light: #ffffcc;
--crm-teal: #399389;
--crm-dark-teal: #3e8079;

/* PRACTICAL COLOURS */

--crm-text: #464354;
--crm-light-text: #fff;
--crm-dark-text: var(--crm-text);
--crm-link: var(--crm-blue);
--crm-link-hover: var(--crm-blue-dark);
--crm-divider: rgba(142, 146, 156, 0.5);
--crm-page-background: #fff;
--crm-background: #efefe5;
--crm-background2:var(--crm-gray-050);
--crm-background3: var(--crm-gray-100);
--crm-background4: var(--crm-gray-200);
--crm-primary: var(--crm-gray-700); 
--crm-primary-hover: var(--crm-gray-800); 
--crm-primary-text: var(--crm-light-text);
--crm-secondary: #5d677b;
--crm-secondary-hover: #3e485b;
--crm-secondary-text: var(--crm-light-text);
--crm-success: var(--crm-green);
--crm-success-text: var(--crm-light-text);
--crm-alert: var(--crm-red);
--crm-alert-text: var(--crm-light-text);
--crm-warning: var(--crm-amber);
--crm-warning-text: var(--crm-light-text);
--crm-info: var(--crm-blue);
--crm-info-text: var(--crm-light-text);
--crm-focus: var(--crm-blue-mid);
--crm-inactive: var(--crm-background4);

/* SHADOWS */

--crm-block-shadow:;
--crm-popup-shadow: 0 3px 18px 0 rgba(48,40,40,.25);
--crm-body-inset:;

/* SIZES - temporary */
--crm-roundness: 0.25rem;
--xs: 0.1rem;
--xs1: 0.125rem;
--xs2: 0.15rem;
--s: 0.25rem;
--s1: 0.275rem;
--s2: 0.325rem;
--s3: 0.375rem;
--m: 0.5rem;
--m1: 0.625rem;
--m2: 0.75rem;
--m3: 0.875rem;
--r: 1rem;
--r1: 1.125rem;
--r2: 1.25rem;
--r3: 1.375rem;
--r4: 1.5rem;
--l: 2rem;
--xl: 3rem;
--xxl: 4rem;
--crm-big-input: 15em;
--crm-huge-input: 25em;

/* TYPE */

--crm-font-size: var(--r);
--crm-small-font-size: var(--m2);
--crm-link-decoration: none;
--crm-link-decoration-hover: underline;

/* MOUSE EVENTS */
--hover-clickable: pointer;

/* BUTTONS */
--btn-box-shadow: none;
--btn-border: 0 solid transparent;
--btn-txt-transform: inherit;
--btn-radius: 3px;
--btn-padding: var(--xs1) var(--m1);
--btn-small-padding: var(--xs) var(--s);
--btn-align: center;
--btn-icon-spacing: var(--s);
--crm-cancel-color: var(--crm-alert);

/* TABLES */
--table-row-line: 1px dotted var(--dark-gray);
--table-column-line: 0 solid transparent;
--table-font-size: var(--r);
--table-header-line: 1px solid var(--dark-gray);
--table-outside-border: 0 solid transparent;
--table-header-bg: #fff;
--table-header-txt: inherit;
--table-even-row: var(--vvv-light-gray);
--table-odd-row: transparent;

/* ACCORDIONS */
--expand-icon: "\f0da"; /* unicode value for FontAwesome icon */
--expand-icon-color: var(--text);
--expand-icon-spacing: var(--m);
--expand-transform: rotate(90deg);
--expand-transition: transform .3s; 
--expand-header-bg: var(--crm-secondary);
--expand-header-bg-active: var(--crm-gray-900);
--expand-header-color: var(--crm-light-text);
--expand-header-padding: var(--s) var(--m);
--expand-header-weight: bold;
--expand-header-border: 0 solid transparent;
--expand-header-border-width: 0 0 1px 0;
--expand-body-bg:;
--expand-body-box-shadow:;
--expand-body-border: 1px solid var(--crm-gray-700);
--expand-border-width: 0 1px 1px 1px;
--expand-body-padding: var(--s);
--expand-body2-bg:;
--expand-header2-bg:;
--expand-header2-color: var(--crm-text);
--expand-header2-weight: normal;
--expand-2-border:;
--expand-2-body-padding: 0;
--expand-gap: var(--xs2) 0 0;

/* ALERTS */
--crm-alert-padding: var(--m) var(--m2);
--crm-alert-margin: 0 0 var(--m);
--crm-alert-border-width: 1px;
--crm-alert-background-help: var(--crm-green-light);
--crm-alert-border-help: var(--crm-green);
--crm-alert-text-help: var(--crm-text);
--crm-alert-background-warning: var(--crm-yellow-light);
--crm-alert-border-warning: var(--crm-yellow);
--crm-alert-text-warning: var(--crm-text);
--crm-alert-background-info: var(--crm-blue-light);
--crm-alert-border-info: var(--crm-blue);
--crm-alert-text-info: var(--crm-text);
--crm-alert-background-danger: var(--crm-red-light);
--crm-alert-border-danger: var(--crm-red);
--crm-alert-text-danger: var(--crm-text);

/* FORM */
--crm-form-block-box-shadow: var(--crm-block-shadow);
--crm-form-block-background: var(--crm-background);
--crm-form-block-padding: var(--s);
--crm-form-block-border-radius: var(--crm-roundness);
--crm-input-background: var(--crm-page-background);
--crm-input-background-image: linear-gradient(top, #eee 1%, #fff 15%);
--crm-input-color: var(--crm-text);
--crm-input-border-color: var(--crm-gray-500);
--crm-input-border-radius: 0;
--crm-input-active-ani: border-color .15s ease-in-out 0s;
--crm-input-box-shadow: inset 0 1px 2px 0 rgba(0,0,0,.2);
--crm-input-padding: var(--xs1) var(--s2);
--crm-input-padding-large: var(--s) var(--m1);
--crm-input-height: var(--l);
--crm-input-font-size: var(--m3);
--crm-input-label-weight: normal);
--crm-input-label-font: var(--crm-font);
--crm-input-label-size: var(--m3);
--crm-input-description: var(--crm-gray-700);
--crm-input-dropdown-icon: "\f107";
--crm-input-radio-color: var(--crm-focus);

/* Tabs */
--crm-tabs-bg: var(--crm-background4);
--crm-tab-bg: var(--crm-background2);
--crm-tab-bg-hover: var(--crm-background);
--crm-tab-bg-active: var(--crm-page-background);
--crm-tab-count-bg: var(--crm-info);
--crm-tab-count-col: var(--crm-info-text);
--crm-tab-roundness: var(--crm-roundness);
--crm-tab-border-col: var(--crm-gray-400);
--crm-tab-gap: var(--s);

/* --expand-body-indent: calc(var(--m3) + var(--m2) + var(--m2));  matches the indent between expand icon & title - leave blank for no indent */
}

/* light/dark mode settings */

@media (prefers-color-scheme: dark) {
    :root {
        --text: #fff;
        --background: var(--crm-blackish);
        --background2: var(--crm-gray-900);
        --background3: var(--crm-gray-800);
        --background4: var(--crm-gray-700);

        /* Not yet changing: */
        --primary: var(--crm-dark-teal); 
        --secondary: var(--crm-red);
        --green-success: var(--crm-green);
        --red-alert: var(--crm-red);
        --blue-info: var(--crm-blue);

    }
}
