/* River Lee branch: Hoxton Square (aka Shoreditch 2.0) */

@import url('_fonts.css'); 
:root{
    
/* FONTS */
--crm-system-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif;
--crm-font: "Civitype", "Open Sans", var(--crm-system-fonts);
--crm-font-bold:  "Civitype-bold", var(--crm-system-fonts);
--crm-bold-weight: normal;
--crm-font-italic:  "Civitype-italic", var(--crm-system-fonts);
--crm-italic-style: normal;
--crm-font-bold-italic:  "Civitype", var(--crm-system-fonts);

/* COLOUR */
color-scheme: light dark;

/* COLOUR NAMES */
--crm-darkest: #0a0a0a;
--crm-gray-900: #222831;
--crm-gray-800: #393a3f;
--crm-gray-700: #75767b;
--crm-gray-600: #828388;
--crm-gray-500: #919297;
--crm-gray-400: #adaeb3;
--crm-gray-300: #d3dee2;
--crm-gray-200: #cad5d7;
--crm-gray-100: #ebeff0;
--crm-gray-050: #f3f6f7;
--crm-gray-025: #f9faff;
--transparent-black: rgba(0, 0, 0, 0.05);
--crm-blue: #0071bd;
--crm-blue-mid: #66afe9;
--crm-blue-light: #dff0f4;
--crm-blue-dark: #005c99;
--crm-purple: #4d4d69;
--crm-purple-dark: #3e3e54;
--crm-green: #44cb7e;
--crm-green-light: #bcecd1;
--crm-red: #cf3458;
--crm-red-light: #ecb0be;
--crm-amber: #e6ab5e;
--crm-amber-light: #fbf0e2;
--crm-yellow: #f8e80b;
--crm-yellow-light: #ffffcc;
--crm-teal: #399389;
--crm-dark-teal: #3e8079;

/* PRACTICAL COLOURS */
--crm-text: #464354;
--crm-light-text: #fff;
--crm-dark-text: var(--crm-text);
--crm-link: var(--crm-blue);
--crm-link-hover: var(--crm-blue-dark);
--crm-divider: rgba(142, 146, 156, 0.5);
--crm-page-background: #e8eef0;
--crm-background: #fff;
--crm-background2: var(--crm-gray-050);
--crm-background3: var(--crm-gray-100);
--crm-background4: var(--crm-gray-200);
--crm-background5: var(--crm-gray-500);
--crm-primary: var(--crm-blue); 
--crm-primary-hover: var(--crm-blue-dark);
--crm-primary-text: var(--crm-light-text); /* text colour when on top of primary */
--crm-secondary: var(--crm-purple);
--crm-secondary-hover: var(--crm-purple-dark);
--crm-secondary-text: var(--crm-light-text);
--crm-success: var(--crm-green);
--crm-success-text: var(--crm-dark-text);
--crm-alert: var(--crm-red);
--crm-alert-text: var(--crm-light-text);
--crm-warning: var(--crm-amber);
--crm-warning-text: var(--crm-dark-text);
--crm-info: var(--crm-blue);
--crm-info-text: var(--crm-light-text);
--crm-focus: var(--crm-blue-mid);
--crm-inactive: var(--crm-background4);

/* SHADOWS */

--crm-block-shadow: 0 3px 18px 0 rgba(48,40,40,.25);
--crm-popup-shadow: var(--crm-block-shadow);
--crm-bottom-shadow: 0 0 16px 1px rgba(0,0,0,.1);
--crm-body-inset: inset 0 10px 8px -10px rgba(0,0,0,.15),inset 0 -11px 8px -9px rgba(0,0,0,.15);

/* SIZES - temporary */
--crm-roundness: 2px;
--xs: 0.1rem;
--xs1: 0.125rem;
--xs2: 0.15rem;
--s: 0.25rem;
--s1: 0.275rem;
--s2: 0.325rem;
--s3: 0.375rem;
--m: 0.5rem;
--m1: 0.625rem;
--m2: 0.75rem;
--m3: 0.875rem;
--r: 1rem;
--r1: 1.125rem;
--r2: 1.25rem;
--r3: 1.375rem;
--r4: 1.5rem;
--l: 2rem;
--xl: 3rem;
--xxl: 4rem;
--crm-big-input: 15em;
--crm-huge-input: 25em;

/* TYPE */
--crm-font-size: var(--r);
--crm-small-font-size: var(--m2);
--crm-link-decoration: none;
--crm-link-decoration-hover: none;

/* MOUSE EVENTS */
--hover-clickable: pointer;

/* BUTTONS */
--btn-box-shadow: none;
--btn-border: 0 solid transparent;
--btn-txt-transform: inherit;
--btn-radius: 2px;
--btn-padding: var(--m) var(--r2);
--btn-small-padding: var(--s1) var(--m1);
--btn-large-padding: var(--m) var(--r);
--btn-align: center;
--btn-icon-spacing: var(--s);
--crm-cancel-color: var(--crm-alert);

/* TABLES */
--crm-table-outside-border: 1px solid var(--crm-gray-100);
--crm-table-background: var(--crm-background);
--crm-table-row-border: 1px solid var(--crm-gray-300);
--crm-table-column-border: 0 solid transparent;
--crm-table-font-size: var(--crm-font-size);
--crm-table-padding: var(--r);
--crm-table-header-border: 1px solid transparent;
--crm-table-header-bottom: 1px solid var(--crm-gray-300);
--crm-table-header-bg: var(--crm-background3);
--crm-table-header-txt: inherit;
--crm-table-even-row: transparent;
--crm-table-even-hover: transparent;
--crm-table-odd-row: transparent;
--crm-table-odd-hover: transparent;
--crm-table-sort-col: var(--crm-gray-300);
--crm-table-sort-float: left; /* 'left', 'right' or 'none' */
--crm-table-sort-active-col: var(--crm-link);
--crm-table-compressed-width: 100%;
--crm-table-nested-padding: 0 0 var(--r) 0;
--crm-table-nested-head-border: 2px solid var(--crm-gray-300);
--crm-table-nested-border: 0 solid transparent;

/* ACCORDIONS */
--expand-icon: "\f105"; /* unicode value for FontAwesome icon */
--expand-icon-color: ;
--expand-icon-spacing: var(--m3);
--expand-transform: rotate(90deg);
--expand-transition: transform .3s; 
--expand-header-bg: var(--crm-background2);
--expand-header-bg-active: var(--crm-background3);
--expand-header-color: var(--crm-text);
--expand-header-padding: var(--m2) var(--m3);
--expand-header-weight: bold;
--expand-header-border: 1px solid var(--crm-gray-300);
--expand-header-border-width: 0 0 1px 0;
--expand-body-bg: var(--crm-page-background);
--expand-body-box-shadow: var(--crm-body-inset);
--expand-body-border:;
--expand-border-width:;
--expand-body-padding: var(--r);
--expand-body2-bg: transparent;
--expand-header2-bg: var(--crm-primary);
--expand-header2-color: var(--crm-light-text);
--expand-header2-weight: bold;
--expand-2-border: 1px solid var(--crm-background3);
--expand-2-body-padding: 0;
--crm-dashlet-bg: var(--crm-purple);
--crm-dashlet-col: var(--crm-light-text);
--expand-gap: 0;

/* ALERTS */
--crm-alert-padding: var(--r) var(--r2);
--crm-alert-margin: 0 0 var(--m);
--crm-alert-border-width: 1px;
--crm-alert-background-help: var(--crm-green-light);
--crm-alert-border-help: var(--crm-green);
--crm-alert-text-help: var(--crm-text);
--crm-alert-background-warning: var(--crm-amber-light);
--crm-alert-border-warning: var(--crm-amber);
--crm-alert-text-warning: var(--crm-text);
--crm-alert-background-info: var(--crm-blue-light);
--crm-alert-border-info: var(--crm-blue);
--crm-alert-text-info: var(--crm-text);
--crm-alert-background-danger: var(--crm-red-light);
--crm-alert-border-danger: var(--crm-red);
--crm-alert-text-danger: var(--crm-text);

/* FORM */
--crm-form-block-box-shadow: var(--crm-block-shadow);
--crm-form-block-background: var(--crm-background);
--crm-form-block-padding: 0;
--crm-form-block-border-radius: 0;
--crm-input-background: var(--crm-background);
--crm-input-background-image: none;
--crm-input-color: #464354;
--crm-input-border-color: #c2cfd8;
--crm-input-border-radius: var(--crm-roundness);
--crm-input-active-ani: border-color .15s ease-in-out 0s;
--crm-input-box-shadow: inset 0 0 3px 0 rgba(0,0,0,.2);
--crm-input-padding: var(--xs1) var(--m1);
--crm-input-padding-large: var(--s) var(--m1);
--crm-input-height: var(--l);
--crm-input-font-size: var(--m3);
--crm-input-label-weight: var(--crm-bold-weight);
--crm-input-label-font: var(--crm-font-bold);
--crm-input-label-size: var(--m3);
--crm-input-description: var(--crm-gray-700);
--crm-input-dropdown-icon: "\f107";
--crm-input-radio-color: var(--crm-primary);
--crm-inline-edit-border: 1px solid var(--crm-gray-900);
--crm-inline-edit-bg: var(--crm-background);

/* Tabs */
--crm-tabs-bg: var(--crm-background2);
--crm-tabs-padding: var(--m) var(--m) 0 var(--m);
--crm-tabs-border: 1px solid var(--crm-gray-300);
--crm-tabs-gap: var(--s);
--crm-tab-bg: var(--crm-background2);
--crm-tab-bg-hover: var(--crm-background);
--crm-tab-bg-active: var(--crm-background);
--crm-tab-padding: var(--m2) var(--r1) var(--m);
--crm-tab-col: var(--crm-text);
--crm-tab-weight: normal;
--crm-tab-font: var(--crm-font-bold);
--crm-tab-count-bg: transparent;
--crm-tab-count-col: var(--crm-text);
--crm-tab-roundness: var(--crm-roundness);
--crm-tab-border-col: var(--crm-gray-300);
--crm-tab-border-active: 1px solid var(--crm-gray-300);
--crm-tab-2-border: 0 solid transparent;

/* Contact dashboard */
--crm-dash-border: 0 solid transparent;
--crm-dash-roundness: 0;
--crm-dash-direction: grid; /* choose 'flex' for tabs at top, or 'grid' for tabs at side */
--crm-side-tabs-width: 220px; 
--crm-dash-tabs-flow: column; /* choose 'row' for tabs at top, or 'column' for tabs at side */ 
--crm-dash-tabs-gap: 0;
--crm-dash-tabs-bg: var(--crm-background);
--crm-dash-tabs-padding: ;
--crm-dash-tab-bg: transparent;
--crm-dash-tab-bg-hover: var(--crm-page-background);
--crm-dash-tab-padding: var(--r) var(--r1);
--crm-dash-tab-border: var(--crm-dash-border);
--crm-dash-tab-col: ;
--crm-dash-icon-size: var(--m2);
--crm-dash-tab-count-bg: var(--crm-primary);
--crm-dash-tab-count-col: var(--crm-light-text);
--crm-dash-panel-padding: var(--r2);
--crm-dash-edit-border: 1px solid var(--crm-gray-900);
--crm-dash-block-padding: var(--m2) var(--r1);
--crm-dash-block-bg: var(--crm-background);
--crm-dash-block-radius: var(--crm-roundness);
--crm-dash-label-bg: var(--crm-background);
--crm-dash-header-bg: var(--crm-gray-900);
--crm-dash-header-col: var(--crm-light-text);
--crm-dash-header-size: var(--l);
--crm-dash-header-padding: var(--r) var(--r1);

/* Dialog */
--crm-dialog-bg: ;
--crm-dialog-padding: 0;
--crm-dialog-radius: var(--crm-roundness);
--crm-dialog-line: 1px solid var(--crm-gray-300);
--crm-dialog-header-bg: var(--crm-background2);
--crm-dialog-header-col: var(--crm-text);
--crm-dialog-header-size: var(--r1);

/* Dashlet */
--crm-dashlet-bg: var(--crm-page-background);
--crm-dashlet-padding: ;
--crm-dashlet-header-bg: var(--crm-secondary);
--crm-dashlet-header-col: var(--crm-light-text);
--crm-dashlet-header-padding: var(--m) var(--r);
--crm-dashlet-tabs-bg: var(--crm-background);
--crm-dashlet-tab-bg: var(--crm-background);
--crm-dashlet-tab-active: var(--expand-header-bg);
--crm-dashlet-radius: var(--crm-roundness);

/* --expand-body-indent: calc(var(--m3) + var(--m2) + var(--m2));  matches the indent between expand icon & title - leave blank for no indent */
}

/* light/dark mode settings */

@media (prefers-color-scheme: dark) {
    :root {
        --crm-text: #fff;
        --crm-background: #0a0a0a;
        --crm-background2: #222;
        --crm-background3: #555;
        --crm-background4: #262626;
        --crm-primary: #43757A; 
        --crm-secondary: #B24B4F;
        --crm-success: #58a458;
        --crm-red-alert: #B24B4F;
        --crm-blue-info: #2C99A4;

        /* And others */
        --expand-border: 1px solid #fff;
    }
}
