/* River Lee branch: Abingdon Square (aka Greenwich 2.0) */


:root { 

/* FONTS */
--crm-system-fonts:;
--crm-font:;
--crm-font-bold:;
--crm-bold-weight: bold;
--crm-font-italic:;
--crm-italic-style: italic;
--crm-font-bold-italic:;
    
/* COLOUR */
color-scheme: light dark; /* check to use simpler syntax late-2024 (Edge+iOS Safari)

/* COLOUR NAMES */
--crm-darkest: #0a0a0a;
--crm-gray-900: #2f2f2e;
--crm-gray-800: #3e3e3e;
--crm-gray-700: #696969;
--crm-gray-600: #828388;
--crm-gray-500: #919297;
--crm-gray-400: #adaeb3;
--crm-gray-300: #d5d5d5;
--crm-gray-200: #c2c0c0;
--crm-gray-100: #e2e1e1;
--crm-gray-050: #eaeaea;
--crm-gray-025: #fbfafa;
--transparent-black: rgba(0, 0, 0, 0.05);
--crm-blue: #bce8f1;
--crm-blue-light: #d9edf7;
--crm-blue-dark: #3a87ad;
--crm-blue-darker: #327293;
--crm-purple: #4d4d69;
--crm-purple-dark: #3e3e54;
--crm-green: #d6e9c6;
--crm-green-light: #dff0d8;
--crm-green-dark: #468847;
--crm-red: #eed3d7;
--crm-red-light: #f2dede;
--crm-red-dark: #b94a48 ;
--crm-amber: #dd5600;;
--crn-amber-light: #fbf0e2;
--crm-yellow: #ffff66;
--crm-yellow-light: #ffffcc;
--crm-yellow-less-light: #fffdb2;
--crm-teal: #399389;
--crm-dark-teal: #3e8079;

/* PRACTICAL COLOURS */
--crm-text: #464354;
--crm-light-text: #fff;
--crm-dark-text: var(--crm-text);
--crm-link: var(--crm-blue-dark);
--crm-link-hover: var(--crm-blue-darker);
--crm-divider: rgba(142, 146, 156, 0.5);
--crm-page-background: #fff;
--crm-background: #efefe5;
--crm-background2:var(--crm-gray-050);
--crm-background3: var(--crm-gray-100);
--crm-background4: var(--crm-gray-200);
--crm-background5: var(--crm-gray-500);
--crm-primary: var(--crm-gray-700); 
--crm-primary-hover: var(--crm-gray-800); 
--crm-primary-text: var(--crm-light-text);
--crm-secondary: #5d677b;
--crm-secondary-hover: #3e485b;
--crm-secondary-text: var(--crm-light-text);
--crm-success: var(--crm-green-dark);
--crm-success-text: var(--crm-light-text);
--crm-alert: var(--crm-red-dark);
--crm-alert-text: var(--crm-light-text);
--crm-warning: var(--crm-amber);
--crm-warning-text: var(--crm-light-text);
--crm-info: var(--crm-blue-light);
--crm-info-text: var(--crm-blue-dark);
--crm-focus: var(--crm-blue-darker);
--crm-inactive: var(--crm-background4);

/* SHADOWS */
--crm-block-shadow:;
--crm-popup-shadow: 0 3px 18px 0 rgba(48,40,40,.25);
--crm-bottom-shadow: 0 0 16px 1px rgba(0,0,0,.1);
--crm-body-inset:;

/* SIZES - temporary */
--crm-roundness: 0.25rem;
--xs: 0.1rem;
--xs1: 0.125rem;
--xs2: 0.15rem;
--s: 0.25rem;
--s1: 0.275rem;
--s2: 0.325rem;
--s3: 0.375rem;
--m: 0.5rem;
--m1: 0.625rem;
--m2: 0.75rem;
--m3: 0.875rem;
--r: 1rem;
--r1: 1.125rem;
--r2: 1.25rem;
--r3: 1.375rem;
--r4: 1.5rem;
--l: 2rem;
--xl: 3rem;
--xxl: 4rem;
--crm-big-input: 15em;
--crm-huge-input: 25em;
--crm-padding-reg: var(--r);
--crm-padding-small: var(--s);

/* TYPE */
--crm-font-size: var(--r);
--crm-small-font-size: var(--m2);
--crm-link-decoration: none;
--crm-link-decoration-hover: underline;
--crm-heading-bg: var(--crm-blue-light);
--crm-heading-col: var(--crm-text);
--crm-heading-padding: var(--s2) var(--m2);
--crm-heading-margin: var(--m) 0;
--crm-heading-radius: var(--crm-roundness);

/* MOUSE EVENTS */
--hover-clickable: pointer;

/* BUTTONS */
--btn-box-shadow: none;
--btn-border: 0 solid transparent;
--btn-txt-transform: inherit;
--btn-radius: 3px;
--btn-padding: var(--xs1) var(--m1);
--btn-small-padding: var(--xs) var(--s);
--btn-large-padding: var(--m) var(--r);
--btn-align: center;
--btn-icon-spacing: var(--s);
--crm-cancel-color: var(--crm-alert);

/* TABLES */
--crm-table-outside-border: 1px solid var(--crm-gray-100);
--crm-table-background: var(--crm-page-background);
--crm-table-row-border: 1px solid var(--crm-gray-300);
--crm-table-column-border: 0 solid transparent;
--crm-table-font-size: var(--crm-font-size);
--crm-table-padding: var(--m);
--crm-table-header-border: 1px solid transparent;
--crm-table-header-bottom: 2px solid var(--crm-gray-300);
--crm-table-header-bg: var(--crm-page-background);
--crm-table-header-txt: inherit;
--crm-table-even-row: var(--crm-gray-050);
--crm-table-even-hover: var(--crm-yellow-less-light);
--crm-table-odd-row: var(--crm-gray-025);
--crm-table-odd-hover: var(--crm-yellow-light);
--crm-table-sort-col: var(--crm-gray-300);
--crm-table-sort-float: left; /* 'left', 'right' or 'none' */
--crm-table-sort-active-col: var(--crm-link);
--crm-table-compressed-width: auto;
--crm-table-nested-padding: var(--r) var(--m);
--crm-table-nested-head-border: 0 solid transparent;
--crm-table-nested-border: 1px solid var(--crm-gray-300);

/* PANELS */
--crm-panel-shadow: var(--crm-block-shadow);
--crm-panel-background: var(--crm-page-background);
--crm-panel-border: 1px;
--crm-panel-border-col: var(--crm-gray-300);
--crm-panel-head-margin: 0;

/* ACCORDIONS */
--expand-icon: "\f0da"; /* unicode value for FontAwesome icon */
--expand-icon-color: var(--text);
--expand-icon-spacing: var(--m);
--expand-transform: rotate(90deg);
--expand-transition: transform .3s; 
--expand-header-bg: var(--crm-secondary);
--expand-header-bg-active: var(--crm-gray-900);
--expand-header-color: var(--crm-light-text);
--expand-header-padding: var(--s) var(--m);
--expand-header-weight: bold;
--expand-header-border: 0 solid transparent;
--expand-header-border-width: 0 0 1px 0;
--expand-body-bg:;
--expand-body-box-shadow:;
--expand-body-border: 1px solid var(--crm-gray-500);
--expand-border-width: 0 1px 1px 1px;
--expand-body-padding: var(--s);
--expand-body2-bg:;
--expand-header2-bg:;
--expand-header2-color: var(--crm-text);
--expand-header2-weight: normal;
--expand-2-border:;
--expand-2-body-padding: 0;
--expand-gap: var(--xs2) 0 0;

/* ALERTS */
--crm-alert-padding: var(--m) var(--m2);
--crm-alert-margin: 0 0 var(--m);
--crm-alert-border-width: 1px;
--crm-alert-background-help: var(--crm-green-light);
--crm-alert-border-help: var(--crm-green);
--crm-alert-text-help: var(--crm-green-dark);
--crm-alert-background-warning: var(--crm-yellow-light);
--crm-alert-border-warning: var(--crm-yellow);
--crm-alert-text-warning: var(--crm-text);
--crm-alert-background-info: var(--crm-blue-light);
--crm-alert-border-info: var(--crm-blue);
--crm-alert-text-info: var(--crm-blue-dark);
--crm-alert-background-danger: var(--crm-red-light);
--crm-alert-border-danger: var(--crm-red);
--crm-alert-text-danger: var(--crm-red-dark);

/* FORM */
--crm-form-block-box-shadow: var(--crm-block-shadow);
--crm-form-block-background: var(--crm-background);
--crm-form-block-padding: var(--s);
--crm-form-block-border-radius: var(--crm-roundness);
--crm-input-background: var(--crm-page-background);
--crm-input-background-image: linear-gradient(top, #eee 1%, #fff 15%);
--crm-input-color: var(--crm-text);
--crm-input-border-color: var(--crm-gray-500);
--crm-input-border-radius: 0;
--crm-input-active-ani: border-color .15s ease-in-out 0s;
--crm-input-box-shadow: inset 0 1px 2px 0 rgba(0,0,0,.2);
--crm-input-padding: var(--xs1) var(--s2);
--crm-input-padding-large: var(--s) var(--m1);
--crm-input-height: var(--l);
--crm-input-font-size: var(--m3);
--crm-input-label-weight: normal);
--crm-input-label-font: var(--crm-font);
--crm-input-label-size: var(--m3);
--crm-input-description: var(--crm-gray-700);
--crm-input-dropdown-icon: "\f107";
--crm-input-radio-color: var(--crm-focus);
--crm-inline-edit-border: 0 solid transparent;
--crm-inline-edit-bg: var(--crm-background);

/* Tabs */
--crm-tabs-bg: var(--crm-background4);
--crm-tabs-padding: var(--s);
--crm-tabs-border: ;
--crm-tabs-gap: var(--s);
--crm-tab-bg: var(--crm-background2);
--crm-tab-bg-hover: var(--crm-page-background);
--crm-tab-bg-active: var(--crm-page-background);
--crm-tab-padding: var(--s3) var(--m) var(--s) var(--m); 
--crm-tab-col: var(--crm-text);
--crm-tab-weight: normal;
--crm-tab-font:;
--crm-tab-count-bg: var(--crm-info-text);
--crm-tab-count-col: var(--crm-info);
--crm-tab-roundness: var(--crm-roundness);
--crm-tab-border-col: var(--crm-gray-400);
--crm-tab-border-active: 0 solid transparent;
--crm-tab-2-border: var(--crm-dash-border);

/* Contact  dashboard */
--crm-dash-border: 1px solid var(--crm-tab-border-col);
--crm-dash-roundness: var(--crm-roundness);
--crm-dash-direction: flex; /* choose 'flex' for tabs at top, or 'grid' for tabs at side */
--crm-side-tabs-width: ; 
--crm-dash-tabs-flow: row; /* choose 'row' for tabs at top, or 'column' for tabs at side */ 
--crm-dash-tabs-gap: var(--crm-tabs-gap);
--crm-dash-tabs-bg: var(--crm-tabs-bg);
--crm-dash-tabs-padding: var(--crm-tabs-padding);
--crm-dash-tab-bg: var(--crm-tab-bg);
--crm-dash-tab-bg-hover: var(--crm-tab-bg-hover);
--crm-dash-tab-padding: var(--crm-tab-padding);
--crm-dash-tab-border: 0 solid transparent;
--crm-dash-tab-col: var(--crm-tab-col);
--crm-dash-icon-size: var(--r);
--crm-dash-tab-count-bg: var(--crm-tab-count-bg);
--crm-dash-tab-count-col: var(--crm-tab-count-col);
--crm-dash-panel-padding: var(--m);
--crm-dash-edit-border: 2px dashed var(--crm-gray-300);
--crm-dash-block-padding: var(--s) 0;
--crm-dash-block-bg: ;
--crm-dash-block-radius: var(--crm-roundness);
--crm-dash-label-bg: var(--crm-background2);
--crm-dash-header-bg: var(--crm-page-background);
--crm-dash-header-col: var(--crm-text);
--crm-dash-header-size: var(--r3);
--crm-dash-header-padding: 0 0 var(--r) 0; 

/* Dialog */
--crm-dialog-bg: var(--crm-page-background);
--crm-dialog-padding: var(--s);
--crm-dialog-radius: var(--crm-roundness);
--crm-dialog-line: ;
--crm-dialog-header-bg: var(--crm-secondary);
--crm-dialog-header-col: var(--crm-light-text);
--crm-dialog-header-size: var(--r1);

/* Dashlet */
--crm-dashlet-bg: var(--crm-page-background);
--crm-dashlet-padding: var(--s2);
--crm-dashlet-header-bg: var(--crm-secondary);
--crm-dashlet-header-col: var(--crm-light-text);
--crm-dashlet-header-padding: var(--s);
--crm-dashlet-tabs-bg: var(--crm-tabs-bg);
--crm-dashlet-tab-bg: var(--crm-tab-bg);
--crm-dashlet-tab-active: var(--crm-tab-bg-active);
--crm-dashlet-radius: var(--crm-roundness);

/* Notifications */
--crm-notify-background: rgba(0,0,0,0.85);
--crm-notify-padding: var(--m2);
--crm-notify-col: var(--crm-light-text);
--crm-notify-accent-border: 2px 0 0 0; /* adds a border to one/several sides of the notification - set to 0 for none */

/* Icons */
--crm-icon-alert: "\f06a";
--crm-icon-success: "\f058";
--crm-icon-close: "\f00d";
--crm-icon-sort: "\f0dc";
--crm-icon-sort-desc: "\f0dd";
--crm-icon-sort-asc: "\f0de";

/* --expand-body-indent: calc(var(--m3) + var(--m2) + var(--m2));  matches the indent between expand icon & title - leave blank for no indent */
}

/* light/dark mode settings */

@media (prefers-color-scheme: dark) {
    :root {
        --text: #fff;
        --background: var(--crm-blackish);
        --background2: var(--crm-gray-900);
        --background3: var(--crm-gray-800);
        --background4: var(--crm-gray-700);

        /* Not yet changing: */
        --primary: var(--crm-dark-teal); 
        --secondary: var(--crm-red);
        --green-success: var(--crm-green);
        --red-alert: var(--crm-red);
        --blue-info: var(--crm-blue);

    }
}
