
/* FONTS - comment out two of the three following patterns, as needed. 

/* OPTION 1: custom fonts, edit in _fonts.css */
@import url('_fonts.css'); 
:root{
    --crm-system-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif;
    --crm-font:"Civitype", var(--crm-system-fonts); --crm-font-bold:  "Civitype-bold", var(--crm-system-fonts);--crm-bold-weight: normal;--crm-font-italic:  "Civitype-italic", var(--crm-system-fonts);--crm-italic-style: normal;--crm-font-bold-italic:  "Civitype", var(--crm-system-fonts);
/* OPTION 2: fast - use CMS parent theme font/styles 
:root { --crm-font:;--crm-font-bold:;--crm-bold-weight: bold;--crm-font-italic:;--crm-italic-style: italic;--crm-font-bold-italic:;
/* OPTION 3: fastest - use system fonts/styles 
:root {
    --crm-system-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif;
    --crm-font: var(--crm-system-fonts);--crm-font-bold: var(--crm-font);--crm-bold-weight: bold;--crm-font-italic: var(--crm-font);--crm-italic-style: italic;--crm-font-bold-italic: var(--crm-font);

/* COLOUR */

color-scheme: light dark;
--text: #444;
--background: #fff;
--background2: #f0f0f0;
--background3: #e2e1e1;
--background4: #c2c0c0;
--primary: #43757A; 
--secondary: #B24B4F;
--green-success: #58a458;
--red-alert: #B24B4F;
--blue-info: #2C99A4;

/* COLOUR NAMES */
--vvv-dark-gray: #3e3e3e;
--vv-dark-gray: #555;
--v-dark-gray: #888;
--dark-gray: #262626;
--mid-gray: #ccc;
--light-gray: #dedede;
--v-light-gray: #e6e6e6;
--vv-light-gray: #f0f0f0;
--vvv-light-gray: #f9f9f9;
--transparent-black: rgba(0, 0, 0, 0.05);
--light-green: #CFF0BE;
--light-blue: #dff0f4;
--light-red: #ffdddd;
--amber: #c67605;
--yellow: #ffffcc;
--dark-yellow: #f8e80b;
--teal: #399389;
--dark-teal: #3e8079;

/* SIZES - temporary */
--roundness: 0.75rem;
--s: 0.25rem;
--m: 0.5rem;
--m2: 0.75rem;
--m3: 0.875rem;
--r: 1rem;
--r2: 1.25rem;
--r3: 1.375rem;
--r4: 1.5rem;
--l: 2rem;
--xl: 3rem;
--xxl: 4rem;

/* MOUSE EVENTS */

--hover-clickable: pointer;

/* BUTTONS */
--btn-txt-primary: #fff;
--btn-txt-secondary: #fff;
--btn-box-shadow: none;
--btn-border: 0 solid transparent;
--btn-txt-transform: inherit;
--btn-radius: 10rem;
--btn-padding: 0.5rem 0.875rem;

/* TYPE */

--crm-font-size: var(--r);

/* TABLES */
--table-row-line: 1px dotted var(--dark-gray);
--table-column-line: 0 solid transparent;
--table-font-size: var(--r);
--table-header-line: 1px solid var(--dark-gray);
--table-outside-border: 0 solid transparent;
--table-header-bg: #fff;
--table-header-txt: inherit;
--table-even-row: var(--vvv-light-gray);
--table-odd-row: transparent;

/* FORMS */
--input-width: 21ch; /* uses character width to make input width propotional to font-size */

/* ACCORDIONS */
--expand-icon: "\f0da"; /* unicode value for FontAwesome icon */
--expand-icon-color: var(--text);
--expand-transform: rotate(90deg);
--expand-transition: transform .3s; 
--expand-header-bg: var(--background3);
--expand-header-bg-active: var(--background4);
--expand-header-color: var(--text);
--expand-header2-bg: transparent;
--expand-body-bg: var(--background2);
--expand-body2-bg: transparent;
--expand-border: 1px solid transparent;
--expand-2-border: 1px solid var(--background3);
--expand-body-padding: var(--m3);

/* --expand-body-indent: calc(var(--m3) + var(--m2) + var(--m2));  matches the indent between expand icon & title - leave blank for no indent */
}

/* light/dark mode settings */

@media (prefers-color-scheme: dark) {
    :root {
        --text: #fff;
        --background: #0a0a0a;
        --background2: #222;
        --background3: #555;
        --background4: #262626;
        --primary: #43757A; 
        --secondary: #B24B4F;
        --green-success: #58a458;
        --red-alert: #B24B4F;
        --blue-info: #2C99A4;

        /* And others */
        --expand-border: 1px solid #fff;
    }
}
