/* Quickfix set used for test/build purposes. Neither the names nor the values are designed to be final. */

:root {

/* COLOUR DESCRIPTIONS */
--text: #444;
--primary: #43757A; 
--secondary: #B24B4F;
--green-success: #58a458;
--red-alert: #B24B4F;
--blue-info: #2C99A4;

/* COLOUR NAMES */
--vvv-dark-gray: #3e3e3e;
--vv-dark-gray: #555;
--v-dark-gray: #888;
--dark-gray: #262626;
--mid-gray: #ccc;
--light-gray: #dedede;
--v-light-gray: #e6e6e6;
--vv-light-gray: #f0f0f0;
--vvv-light-gray: #f9f9f9;
--transparent-black: rgba(0, 0, 0, 0.05);
--light-green: #CFF0BE;
--light-blue: #dff0f4;
--light-red: #ffdddd;
--amber: #c67605;
--yellow: #ffffcc;
--dark-yellow: #f8e80b;
--teal: #399389;
--dark-teal: #3e8079;

/* SIZES - temporary */
--roundness: 0.75rem;
--s: 0.25rem;
--m: 0.5rem;
--m2: 0.75rem;
--m3: 0.875rem;
--r: 1rem;
--r2: 1.25rem;
--r3: 1.375rem;
--r4: 1.5rem;
--l: 2rem;
--xl: 3rem;
--xxl: 4rem;

/* TYPE - temporary */
--default-font-fam: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, Lato, "helvetica neue", helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif; 
--default-font-size: var(--r);
/* both defaults could  be left blank to inherit the CMS admin theme font / size (don't use 'inherit') */
--font-size-s: var(--mms);   

/* BUTTONS */
--btn-txt-primary: #fff;
--btn-txt-secondary: #fff;
--btn-box-shadow: none;
--btn-border: 0 solid transparent;
--btn-txt-transform: inherit;
--btn-radius: 10rem;
--btn-padding: 0.5rem 0.875rem;

/* TABLES */
--table-row-line: 1px dotted var(--dark-gray);
--table-column-line: 0 solid transparent;
--table-font-size: var(--r);
--table-header-line: 1px solid var(--dark-gray);
--table-outside-border: 0 solid transparent;
--table-header-bg: #fff;
--table-header-txt: inherit;
--table-even-row: var(--vvv-light-gray);
--table-odd-row: transparent;

/* FORMS */
--input-width: 21ch; /* uses character width to make input width propotional to font-size */

/* ACCORDIONS */
--expand-icon: "\f0da"; /* unicode value for FontAwesome icon */
--expand-icon-color: var(--vvv-dark-gray);
--expand-transform: rotate(90deg);
--expand-transition: transform .3s; 
--expand-header-bg: var(--vv-light-gray);
--expand-header-bg-active: var(--light-gray);
--expand-header-color: var(--vvv-dark-gray);
--expand-body-bg: var(--vvv-light-gray);
/* --expand-body-indent: calc(var(--m3) + var(--m2) + var(--m2));  matches the indent between expand icon & title - leave blank for no indent */
}