<div ng-include="'~/crmSearchAdmin/crmSearchAdminDisplayHeader.html'"></div>

<div class="crm-chart-kit-admin">

  <div>
    <div class="crm-chart-kit-admin-chart-type" ng-class="$ctrl.hasChartType() ? 'crm-chart-kit-admin-has-type' : ''">

        <label ng-repeat="option in $ctrl.chartTypeSettings.displayType">
            <input type="radio" ng-name="option.key" ng-value="option.key" ng-model="$ctrl.display.settings.displayType" />
            <i class="crm-i {{:: option.icon}}" />
            {{:: option.label }}
        </label>
    </div>
  </div>

  <div ng-if="$ctrl.hasChartType()" ng-include="$ctrl.getChartTypeAdminTemplate()"></div>

</div>