/* Reset */

.crm-container .widget-content .crm-accordion-wrapper.collapsed .crm-accordion-header,
#crm-container .widget-content .crm-accordion-header,
.crm-container .crm-accordion-inner .crm-accordion-header, 
.crm-container .crm-accordion-wrapper .crm-master-accordion-header, 
.crm-container .crm-collapsible .collapsible-title,
.crm-container .collapsed .crm-accordion-header,
.crm-container .crm-accordion-header{
	background-image: none;
	text-indent: 0;
}
.crm-container .collapsed .crm-accordion-body,
.crm-container .crm-collapsible.collapsed .collapsible-title+*,
.crm-container tr.hiddenElement {
	display: none;
}

/* Expand/collapse icons */

.crm-container .crm-accordion-header::before, 
.crm-container .collapsible-title::before, 
.af-collapsible > .af-title::before,
.crm-dashlet-header .crm-dashlet-collapse.fa-caret-down::before,
.crm-dashlet-header .crm-dashlet-collapse.fa-caret-right::before,
.crm-container .crm-master-accordion-header:before,
.crm-container .expanded::before,
.crm-container a.collapsed::before {
	font-size: var(--default-font-size);
	font-style: normal;
	line-height: 1.35;
	text-rendering: auto;
	text-indent: inherit;
	font-family: FontAwesome;
	color: var(--expand-icon-color);
	width: var(--m3);
	margin-right: var(--m2);
	display: inline-block;
}
.crm-container .crm-accordion-header::before, 
.crm-container .collapsible-title::before, 
.af-collapsible > .af-title::before,
.crm-dashlet-header .crm-dashlet-collapse.fa-caret-down::before,
.crm-container .crm-master-accordion-header:before,
.crm-container a.collapsed::before,
.crm-container a.expanded::before  {
	content: var(--expand-icon);
	transform: var(--expand-transform);
	transform-origin: center center;
	transition: var(--expand-transition);
}
.crm-container .collapsed .collapsible-title::before,
.crm-container .collapsed .crm-accordion-header::before, 
.crm-accordion-wrapper.collapsed .crm-master-accordion-header:before,
.crm-dashlet-header .crm-dashlet-collapse.fa-caret-right::before,
.af-collapsible.af-collapsed > .af-title::before,
.crm-container a.collapsed:not(.expanded)::before {
    transform: none;
	transition: var(--expand-transition);
}

/* Wrapper */

#crm-container .widget-wrapper,
.crm-container .crm-accordion-wrapper {
	border-radius: var(--roundness);
	border: 0 solid transparent;
	background-color: var(--expand-body-bg);
	box-shadow: none !important;
	margin-bottom: var(--m);
}

/* Header */

.crm-container .crm-accordion-header,
.crm-container .crm-collapsible .collapsible-title,
.crm-container span.collapsed,
.crm-container a.collapsed,
.crm-container .crm-expand-row,
.af-collapsible > .af-title,
.crm-dashlet-header .crm-dashlet-collapse {
	cursor: pointer;
}
#crm-container .widget-content .crm-accordion-header,
.crm-container .crm-accordion-inner .crm-accordion-header
.crm-container .crm-collapsible .collapsible-title {
	background-color: transparent;
	color: var(--expand-header-color);
}
.crm-container .crm-accordion-header,
#crm-container .crm-dashlet-header,
.crm-container .crm-accordion-wrapper .crm-master-accordion-header {
	background-color: var(--expand-header-bg);
	text-shadow: none;
	font-weight: normal;
	padding: var(--m2) var(--m3);
	border-radius: var(--roundness);
}
.crm-accordion-wrapper .crm-accordion-header.active,
.crm-accordion-wrapper .crm-accordion-wrapper.collapsed:hover,
.crm-accordion-wrapper .crm-accordion-wrapper.collapsed:focus,
.crm-accordion-wrapper .crm-accordion-header:hover,
.crm-accordion-wrapper .crm-accordion-header.active:hover {
	background-color: var(--expand-header-bg-active);
}

/* Body */

.crm-container .crm-accordion-body {
	border-radius: 0 0 var(--roundness) var(--roundness);
	border: 0 solid transparent;
	padding: var(--m3);
	/* padding-left: var(--expand-body-indent); */
}
.crm-container .ui-tabs-panel .crm-accordion-body > div,
#crm-container .widget-content .crm-accordion-body,
.crm-container .crm-collapsible .crm-summary-block {
	padding: var(--m3);
}
