

.crm-container details + details {
	margin: 0.5rem 0 0;
}
.crm-container summary { /* default summary setting*/
	display: list-item;
	list-style: none;
	cursor: var(--hover-clickable);
	font-size: var(--crm-font-size);
	padding: var(--m2) var(--m3);
	font-family: var(--crm-font-bold);
	font-weight: var(--crm-bold-weight);
	color: var(--expand-header-color);
}
.crm-container table summary { /* Makes summary match the size of the rest of the table it's in */
	font-size: inherit;
}
.crm-container summary::-webkit-details-marker { /* Safari fix to remove summary icon */
	display: none;
}
.crm-container .crm-accordion-bold {
	background-color: var(--expand-body-bg);
	border: var(--expand-border);
	border-radius: var(--roundness);
}
.crm-container .crm-accordion-bold > summary {
	background-color: var(--expand-header-bg);
	border-radius: var(--roundness);	
}
.crm-container .crm-accordion-bold[open] > summary { /* open version of that */
	border-radius: var(--roundness) var(--roundness) 0 0; 
}
.crm-container .crm-accordion-bold > summary.active { /* active version of that */
	background-color: var(--expand-header-bg-active);
}
.crm-container .crm-accordion-bold > summary:hover,
.crm-container .crm-accordion-bold > summary:focus { /* hover version of that */
	background-color: var(--expand-header-bg-active);
}
.crm-container details.crm-accordion-bold > .crm-accordion-body {
	padding: var(--expand-body-padding);
	animation: crm-details-show .3s ease-in-out;
}
.crm-container .crm-accordion-light {
	border: var(--expand-2-border);
	border-radius: var(--roundness);
	padding: var(--m);
}
.crm-container .crm-accordion-light > summary {
	font-family: var(--crm-font);
	font-weight: normal;
	background-color: var(--expand-header2-bg);
}
.crm-container .crm-accordion-light > summary.active { /* active version of that */
	font-family: var(--crm-font-bold);
	font-weight: var(--crm-bold-weight);
}
/* Expand/collapse icons */

.crm-container details > summary::before {
	font-size: var(--crm-font-size);
	content: var(--expand-icon);
	color: var(--expand-icon-color);
	font-style: normal;
	line-height: 1.35;
	font-family: FontAwesome;
	text-rendering: auto;
	text-indent: inherit;
	margin-right: var(--m2);
	display: inline-block;
	transform-origin: center center;
	transition: var(--expand-transition);
}
.crm-container details[open] > summary::before {
	transform: var(--expand-transform);
	transition: var(--expand-transition);
}