/* catch-all for other components */

/* Dashlets */

.crm-container .crm-dashlet {
    border-radius: var(--crm-dashlet-radius);
    background-color: var(--crm-dashlet-bg);
    padding: var(--crm-dashlet-padding);
    box-shadow: var(--crm-popup-shadow);
}
.crm-container #civicrm-dashboard .crm-dashlet-header {
    background-color: var(--crm-dashlet-header-bg);
    border-radius: var(--crm-dashlet-radius);
    padding: var(--crm-dashlet-header-padding);
}
#crm-container .crm-dashlet-header h3 {
	color: var(--crm-dashlet-header-col);
    font-size: var(--r);
}
#crm-container .crm-dashlet-header a {
	color: var(--crm-dashlet-header-col);
	text-decoration: none;
    font-size: var(--r);
    padding: var(--xs) var(--s);
}
.crm-container .crm-dashlet-content {
    background: var(--crm-dashlet-bg);
    padding: var(--crm-dashlet-padding) 0;
}
#crm-container .crm-dashlet .crm-accordion-body {
    padding: 0;
    border-bottom: var(--expand-body-border);
}
#crm-container .crm-dashlet .crm-accordion-body table {
    margin: 0;
    border: 0;
    box-shadow: var(--crm-input-box-shadow);
}
#crm-container .crm-dashlet .crm-accordion-body table tr {
    padding: var(--crm-dash-block-padding);
    display: flex;
    border: 0 solid transparent;
    gap: var(--r);
}
.crm-dashlet .dataTables_wrapper {
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    padding: var(--crm-dash-block-padding);
    background: var(--crm-dashlet-bg);
}
.crm-dashlet table.dataTable {
    width: calc(100% - (0.5 * var(--crm-dash-block-padding))) !important;
    overflow: scroll;
    display: block;
    padding: 0;
    border-bottom: 0 solid transparent;
}
.crm-dashlet #help {
    margin: var(--crm-dash-block-padding);
}
/* News feed */
#crm-container #civicrm-news-feed {
    border: 0 solid transparent;
    border-radius: var(--crm-dashlet-radius);
}
#crm-container #civicrm-news-feed ul.ui-tabs-nav {
    background: var(--crm-dashlet-tabs-bg);
    margin-bottom: var(--crm-dashlet-padding);
    border-radius: var(--crm-dashlet-radius);
}
#crm-container #civicrm-news-feed ul.ui-tabs-nav a {
    border-radius: var(--crm-tab-roundness);
    margin-bottom: -1px; 
    background: var(--crm-dashlet-tab-bg);
}
#crm-container #civicrm-news-feed ul.ui-tabs-nav a:hover,
#crm-container #civicrm-news-feed ul.ui-tabs-nav a:focus,
#crm-container #civicrm-news-feed ul.ui-tabs-nav .ui-state-active a {
    background: var(--crm-dashlet-tab-active);
    border: var(--crm-tabs-border);
    border-bottom: 1px solid var(--crm-dashlet-tab-active);
    margin-bottom: -1px;
}
.crm-container #civicrm-news-feed .ui-tabs-panel {
	padding: 0;
}
#crm-container #civicrm-news-feed .crm-accordion-body {
    padding: var(--crm-dashlet-padding);
}
/* Getting statrted */

#civicrm-getting-started table {
    box-shadow: none;
    margin: 0;
}

/* Activity dashlet */

#crm-container .crm-activity-selector-dashlet .crm-accordion-body table tr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 0 solid transparent;
}
/* Home dashboard */

#civicrm-dashboard > .crm-flex-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--r); 
}
fieldset.crm-inactive-dashlet-fieldset {
    padding: 0;
    margin-bottom: var(--r);
}
fieldset.crm-inactive-dashlet-fieldset legend {
    background-color: transparent;
    margin-bottom: var(--r);
}
fieldset.crm-inactive-dashlet-fieldset legend .crm-hover-button {
    padding: var(--btn-large-padding);
    margin-right: var(--r);
}
fieldset.crm-inactive-dashlet-fieldset > div {
    background-color: #fff;
    box-shadow: var(--crm-popup-shadow);
    border-radius: var(--crm-dashlet-radius);
    display: flex;
    flex-wrap: wrap;
    gap: var(--r);
    padding: var(--r);
}
.crm-container .crm-inactive-dashlet-fieldset .help {
    width: 100%;
    margin: 0;
}
.crm-container .crm-inactive-dashlet {
    border-radius: var(--crm-dashlet-radius);
    margin: 0;
}
#crm-container .crm-inactive-dashlet .crm-dashlet-header {
    border-radius: var(--crm-dashlet-radius) var(--crm-dashlet-radius) 0 0;
}

/* Pagination */

.crm-datatable-pager-top,
.crm-datatable-pager-bottom {
    display: flex;
    justify-content: space-between;
    font-size: var(--m3);
}
.crm-datatable-pager-top {
    margin-bottom: var(--r);
}
.crm-datatable-pager-bottom {
    margin-top: var(--r);
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: var(--crm-secondary);
    color: var(--crm-secondary-text) !important;
    border: 0 solid transparent;
    padding: var(--s);
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: var(--crm-secondary-hover);
}

/* Alpha filter */

.crm-container div#alpha-filter {
    background-color: var(--crm-blue-light);
    margin: var(--r) 0;
    padding: var(--s2) 0;
    text-align: left;
    box-shadow: var(--crm-block-shadow);
    border-radius: var(--crm-roundness);
}

/* SEARCH */
.crm-container div#searchForm table.form-layout {
    background: transparent;
}
/* Advanced Search */
.crm-container .adv-search-top-submit {
    display: flex;
    float: right;
    gap: 1rem;
    align-items: center;
}
.crm-container .form-layout td:has(#_qf_Advanced_refresh-bottom) {
    display: flex;
    gap: var(--m);
    align-items: center;
    padding: var(--crm-padding-reg);
}
.crm-container .adv-search-top-submit .crm-submit-buttons,
.crm-container .form-layout td:has(#_qf_Advanced_refresh-bottom) .crm-submit-buttons {
    padding: 0;
}
/* Full Text */
#searchForm table.form-layout-compressed td {
    padding: var(--crm-padding-reg);
}
/* Case */
.crm-case_search-accordion .crm-accordion-body .form-layout > tbody:first-child,
.crm-case_search-accordion .crm-accordion-body .form-layout > tbody:first-child > tr,
.crm-case_search-accordion .crm-accordion-body .form-layout > tbody:first-child > tr > td {
    display: block;
}
.crm-case_search-accordion .crm-accordion-body .form-layout > tbody:first-child > tr:nth-of-type(1) > td:nth-of-type(2) {
    display: none !important;
}
.crm-case_search-accordion .crm-accordion-body .form-layout > tbody:first-child > tr #s2id_case_status_id {
    margin-bottom: var(--r1);
}
.crm-case_search-accordion .crm-accordion-body .form-layout > tbody:first-child > tr:nth-of-type(1) > td:nth-of-type(1) label {
    display: block;
}
.crm-case_search-accordion .crm-accordion-body .form-layout > tbody:first-child > tr:nth-of-type(1) > td:nth-of-type(1) label + input {
    margin-left: -0.6rem;
}
/* Mailing */
.crm-search-form-block.crm-form-block {
    padding: var(--crm-padding-reg);
}
/* Member */
.page-civicrm-member-search .CRM_Member_Form_Search .crm-accordion-body tr:last-child td {
    padding-top: var(--r);
}
/* Find Participants */
.crm-container div#searchForm table.form-layout td {
    border: 0 solid transparent;
}
/* Custom searches */
.crm-container > #crm-main-content-wrapper > fieldset {
    display: grid;
    background: var(--crm-background);
    border: 0 solid transparent;
    box-shadow: var(--crm-block-shadow);
    padding: var(--crm-padding-reg);
    gap: var(--m);
    margin-bottom: var(--r);
}
.crm-container > #crm-main-content-wrapper > fieldset > * {
    margin: 0;
}