/* Common page styling */

.crm-container .crm-form-block {
    box-shadow: var(--crm-form-block-box-shadow);
    background-color: var(--crm-form-block-background);
    border-radius: var(--crm-form-block-border-radius);
    padding: var(--crm-form-block-padding);
}
.crm-container .crm-form-block:has(> details.crm-accordion-light) {
    padding: 0;
}

/* Checkbox lists */

.crm-container .listing-box, 
.crm-container .listing-box-tall,
.crm-container ul.crm-checkbox-list {
    width: auto;
    border-radius: var(--crm-roundness);
    max-width: 30rem;
    height: 7.25rem;
    overflow: auto;
    border: 1px solid var(--crm-gray-500);
}
.crm-container ul.crm-checkbox-list {
    list-style: none;
    margin: 0;
    background-color: var(--crm-page-background);
    width: 300px;
    max-width: 100%;
    max-height: 300px;
    overflow-y: auto;
}
.crm-container ul.crm-checkbox-list li {
    position: relative;
    margin: 0;
    padding: 0;
}
.crm-container ul.crm-checkbox-list li input {
    position: absolute;
    left: var(--s);
    top: var(--m);
}
.listing-box input.crm-form-checkbox {
    margin: 0 0 0 var(--s);
}
.crm-container ul.crm-checkbox-list li label {
    background-color: var(--crm-background2);
    padding-inline: var(--s) var(--m2)
}
tbody.scrollContent tr.alternateRow{
    background-color: var(--crm-background3);
    padding-inline: var(--s) var(--m2)
}
.crm-container ul.crm-checkbox-list li:nth-child(2n) label {
    background-color: var(--crm-background3);
}
.crm-container ul.crm-checkbox-list li label {
    display: block !important;
    padding: var(--s) 0 var(--s) var(--r3);
    margin: 0 !important;
    word-break: break-all;
}
.crm-container ul.crm-checkbox-list li input:checked + label {
    background-color: var(--crm-yellow-light);
}
.crm-container ul.crm-checkbox-list li:nth-child(2n) input:checked + label {
    background-color: var(--crm-yellow-less-light);
}

/* States */

.crm-container .disabled, 
.crm-container .crm-disabled, 
.crm-container .disabled *, 
.crm-container .cancelled, 
.crm-container .cancelled td, 
.crm-container li.disabled a.ui-tabs-anchor {
    color: var(--crm-inactive);
}

/* Panels (taken from Bootstrap3) */

.crm-container .panel {
    box-shadow: none;
	border-color: var(--crm-panel-border-col);
    border-width: var(--crm-panel-border);
    border-radius: var(--crm-roundness);
    margin-bottom: calc(var(--r) + var(--crm-panel-head-margin));
    background: transparent;
}
.crm-container .panel-heading {
	padding: var(--crm-padding-reg);
	border-radius: var(--crm-roundness) var(--crm-roundness) 0 0;
	border-bottom: 1px solid transparent;
    box-shadow: var(--crm-panel-shadow);
    margin-bottom: var(--crm-panel-head-margin);
}
.crm-container .panel-heading > .dropdown .dropdown-toggle {
	color: inherit;
}
.crm-container .panel-body {
	padding: var(--crm-padding-reg);
    background: var(--crm-panel-background);
    box-shadow: var(--crm-panel-shadow);
}
.crm-container .panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: var(--crm-font-size);
	color: inherit;
}
.crm-container .panel-title > a, 
.crm-container .panel-title > small, 
.crm-container .panel-title > .small, 
.crm-container .panel-title > small > a, 
.crm-container .panel-title > .small > a {
	color: inherit;
}
.crm-container .panel-footer {
	padding: var(--crm-padding-reg);
    background: var(--crm-panel-background);
	border-top: 1px solid var(--crm-divider);
	border-radius: 0 0 var(--crm-roundness) var(--crm-roundness);
    box-shadow: var(--crm-panel-shadow);
}
.crm-container .panel > .panel-heading {
	border-color: var(--crm-gray-300);
}
.crm-container .panel > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: var(--crm-gray-300);
}
.crm-container .panel > .panel-footer + .panel-collapse > .panel-body {
	border-color: var(--crm-gray-300);
}
.crm-container .panel-default > .panel-heading {
    color: var(--crm-text);
    background-color: var(--crm-page-background);
}
#crm-container .panel-title {
    font-size: 1rem;
    color: inherit;
    margin: 0;
}
.crm-container .panel-default > .panel-heading .badge {
	color: var(--crm-text-light);
	background-color: var(--crm-gray-500);
}
.crm-container .panel-primary > .panel-heading {
	color: var(--crm-primary-text);
	background-color: var(--crm-primary);
}
.crm-container .panel-primary > .panel-heading .badge,
.crm-container .panel-primary > .panel-heading a {
	color: var(--crm-primary-text);
	background-color: var(--crm-primary-hover);
}
.crm-container .panel.panel-success {
    border-color: var(--crm-green);
    border-width: var(--crm-panel-border-width);
}
.crm-container .panel-success > .panel-heading {
	color: var(--crm-success);
	background-color: var(--crm-success-text);
}
.crm-container .panel.panel-info {
    border-color: var(--crm-blue);
    border-width: var(--crm-panel-border);
}
.crm-container .panel-info > .panel-heading {
	color: var(--crm-info-text);
	background-color: var(--crm-info);
}
.crm-container .panel-info > .panel-heading .badge,
.crm-container .panel-info > .panel-heading a {
	color: var(--crm-info-text);
	background-color: var(--crm-info-hover);
}
.crm-container .panel.panel-warning {
    border-color: var(--crm-amber);
    border-width: var(--crm-panel-border);
}
.crm-container .panel-warning > .panel-heading {
	color: var(--crm-warning-text);
	background-color: var(--crm-warning);
}
.crm-container .panel-warning > .panel-heading .badge,
.crm-container .panel-warning > .panel-heading a {
	color: var(--crm-warning-text);
	background-color: var(--crm-warning-hover);
}
.crm-container .panel.panel-danger {
    border-color: 1px solid var(--crm-red);
    border-width: var(--crm-panel-border);
}
.crm-container .panel-danger > .panel-heading {
	color: var(--crm-alert-text);
	background-color: var(--crm-alert);
}
.crm-container .panel-danger > .panel-heading .badge,
.crm-container .panel-danger > .panel-heading a {
	color: var(--crm-alert-text);
	background-color: var(--crm-alert-hover);
}

/* Badge - from BS3 */

.crm-container .badge {
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: var(--m2);
	font-weight: var(--crm-bold-weight);
	font-family: var(--crm-font-bold);
	line-height: 1;
	color: var(--crm-page-background);
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: var(--crm-primary);
	border-radius: var(--m1);
	position: relative;
	top: -1px;
}
.crm-container .badge:empty {
	display: none;
}
.btn-xs .badge, 
.crm-container .btn-group-xs > .btn .badge, 
.btn-group-xs > .btn .badge {
	top: 0;
	padding: 1px 5px;
}
.list-group-item.active > .badge, 
.nav-pills > .active > a > .badge {
	color: var(--crm-link);
	background-color: var(--crm-page-background);
}
.nav-pills > li > a > .badge {
	margin-left: 3px;
}
.crm-container a.badge:hover, 
.crm-container a.badge:focus {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

/* Footer */

.crm-container #access {
    text-align: right;
}
#crm-record-log {
    font-size: var(--m3);
    padding: var(--m3) 0;
}
#crm-record-log .col1 {
    float: left;
}
#civicrm-footer {
    margin-top: var(--l);
    padding: var(--m2);
    text-align: center;
    font-size: var(--m2);
}
.crm-container #civicrm-footer .status {
    border-radius: var(--crm-roundness);
    padding: var(--btn-small-padding);
    border-color: transparent;
}
.crm-container #civicrm-footer .status.crm-error {
    background-color: var(--crm-alert);
    color: var(--crm-alert-text);
}
.crm-container #civicrm-footer .status.crm-error a {
    color: var(--crm-alert-text);
}