/* Actions dropdowns */

#crm-event-links-list, 
#crm-contribpage-links-list, 
#crm-create-new-list, 
#crm-contact-actions-list, 
#crm-participant-list {
    position: absolute;
    display: none;
    top: 45px;
    width: 220px;
    left: 0;
    z-index: 15;
}
#crm-contact-actions-list {
    width: 495px;
  }
.ac_results-inner, 
.crm-participant-list-inner, 
.crm-event-links-list-inner, 
.crm-contribpage-links-list-inner, 
.crm-contact-actions-list-inner {
    background-color: var(--crm-secondary);
    border-radius: var(--crm-roundness);
    box-shadow: var(--crm-popup-shadow);
    padding: var(--crm-padding-small);
}
.ac_results::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--crm-secondary);
    top: -5px;
    left: 12px;
}
#crm-contact-actions-list ul {
    list-style: none;
    margin: 0;
}
#crm-contact-actions-list ul a {
    color: var(--crm-secondary-text);
    padding-inline: var(--s);
    border-radius: var(--crm-roundness);
    display: inherit;
    margin-right: var(--s);
}
#crm-contact-actions-list ul a:hover,
#crm-contact-actions-list ul a:focus {
    text-decoration: none;
    color: var(--crm-text);
    background-color: var(--crm-page-background);
}

/* In-table dropdown */

.crm-container .btn-slide::after {
    font-family: "FontAwesome";
    content: "\f0da";
    padding-left: 0.5ch;
}
.crm-container ul.panel {
    display: none;
    z-index: 9999;
    position: absolute;
    right: var(--r4);
    margin: var(--btn-small-padding);
    width: 180px;
    background: var(--crm-secondary-hover);
    border-radius: var(--crm-roundness);
}
.crm-container ul.panel::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--crm-secondary-hover);
    top: -5px;
    right: var(--l);
}
.crm-container ul.panel li {
    padding: var(--s);
    list-style: none;
    width: auto;
}
#crm-container ul.panel li a {
    text-decoration: none;
    padding: var(--btn-small-padding);
    display: block;
    cursor: pointer;
    color: var(--crm-light-text);
    text-align: left;
}
#crm-container ul.panel li a:hover,
#crm-container ul.panel li a:focus {
    color: var(--crm-text);
    background-color: var(--crm-page-background);
}

/* Tooltip - used on the contact dashboard but no-where else? */

.crm-container .crm-tooltip-wrapper {
    position: absolute;
    bottom: 0;
    z-index: 10000;
    background: none;
    padding-bottom: 0;
    display: none;
}
.crm-container .crm-tooltip-active .crm-tooltip-wrapper {
    display: block;
}
.crm-container .crm-tooltip-wrapper .crm-tooltip {
    box-shadow: var(--crm-block-shadow);
    background: var(--crm-background);
    border-radius: var(--crm-roundness);
    padding: 0 0 var(--r);
} 
.crm-container a:not(.crm-tooltip-down) .crm-tooltip-wrapper::after {
    border-left: 10px solid rgba(0,0,0,0);
    border-right: 10px solid rgba(0,0,0,0);
    border-top: 10px solid var(--crm-background);
    bottom: -10px;
    left: var(--m2);
    content: "";
    position: absolute;
}
.crm-container .crm-tooltip-down .crm-tooltip-wrapper {
    top: var(--s);
}
.crm-container a.crm-tooltip-down .crm-tooltip-wrapper::before {
    border-bottom: 10px solid var(--crm-background2);
    border-left: 10px solid rgba(0,0,0,0);
    border-right: 10px solid rgba(0,0,0,0);
    content: "";
    left: var(--m2);
    position: relative;
    top: -5px;
}
.crm-container .crm-tooltip .crm-summary-group {
    width: 700px;
    margin-bottom: 0;
}
#crm-container .crm-tooltip table, 
#crm-container .crm-tooltip table tr td {
    background-color: var(--crm-background);
    border: none;
    color: var(--crm-text);
    word-wrap: break-word;
}
.crm-container .crm-tooltip-wrapper .crm-tooltip .crm-table-group-summary > tbody > tr > td {
    vertical-align: top;
    white-space: normal;
}
.crm-container .crm-tooltip-wrapper .crm-tooltip .crm-table-group-summary > tbody > tr > td.crm-section {
    padding: var(--s) 0;
}
#crm-container .crm-tooltip-wrapper .crm-tooltip .crm-table-group-summary > tbody > tr:nth-child(1) > td {
    background: var(--crm-background2);
    color: var(--crm-text);
    font-size: var(--r1);
    padding: var(--m2) var(--r1);
    font-weight: var(--crm-bold-weight);
    font-family: var(--crm-font-bold);
}
.crm-container .crm-tooltip-wrapper .crm-tooltip .crm-table-group-summary > tbody > tr:nth-child(2) > td {
    border-top: 1px solid var(--crm-divider) !important;
    width: 50%;
    padding: var(--r1) var(--m1) 0;
}
.crm-container .crm-tooltip-wrapper .crm-tooltip .crm-table-group-summary > tbody > tr:nth-child(2) > td:first-child {
    padding-left: var(--r1);
}