/* Form parts */

.crm-container div.crm-field-wrapper {
    margin-bottom: var(--r);
}
.crm-container table.form-layout td, 
.crm-container table.form-layout-compressed td {
    padding: var(--s);
}
.crm-container .form-layout td.label, 
.crm-container .form-layout-compressed td.label, 
.crm-container .selector td.label, 
.crm-container .form-layout-compressed th.label {
    width: 22ch;
    text-align: right;
}
.crm-container .advanced-search-fields {
    column-gap: var(--r);
    row-gap: var(--s);
}
.crm-container .form-layout label,
.crm-container .form-layout-compressed label, 
.crm-container .form-item label, 
.crm-container .crm-accordion-body label, 
.crm-container .crm-form-block label, 
.crm-container #task-section label {
    color: var(--crm-text);
    font-family: var(--crm-input-label-font);
    font-weight: var(--crm-input-label-weight);
    font-size: var(--crm-input-label-size);
    display: inline-block;
    margin-bottom: var(--s);
}
.crm-container .description {
    color: var(--crm-input-description);
    font-size: var(--crm-input-label-size);
}

/* Input */

.crm-container input.crm-form-text, 
.crm-container .crm-icon-picker-button, 
.crm-container input.dateplugin, 
.crm-container input.crm-form-password,
.crm-container .replace-plain, 
.crm-container textarea, 
.crm-container select.crm-form-multiselect,
.crm-container select.crm-form-select, 
.crm-container select[aria-controls] {
    transition: var(--crm-input-active-ani);
    background-color: var(--crm-input-background);
    border-radius: var(--crm-input-border-radius);
    box-shadow: var(--crm-input-box-shadow);
    color: var(--crm-input-color);
    border: 1px solid var(--crm-input-border-color);
    padding: var(--crm-input-padding);
    background-image: var(--crm-background-image);
    height: var(--crm-input-height);
}
.crm-container .replace-plain, 
.crm-container textarea, 
.crm-container select.crm-form-multiselect {
    padding: var(--crm-input-padding-large);
    height: inherit;
}
.crm-container input.crm-form-text:focus, 
.crm-container .crm-icon-picker-button:focus, 
.crm-container input.dateplugin:focus, 
.crm-container input.crm-form-password:focus,
.crm-container .replace-plain:focus,
.crm-container textarea:focus,
.crm-container select.crm-form-multiselect:focus,
.crm-container select.crm-form-select:focus, 
.crm-container select[aria-controls]:focus {
    border-color: var(--crm-focus);
    outline: 0;
}
body .page-wrapper :focus, 
body .ui-dialog :focus {
    box-shadow: none;
}
.crm-container .big {
    width: var(--crm-big-input);
}
.crm-container .huge, 
input.crm-form-autocomplete, 
input.crm-form-entityref {
    width: var(--crm-huge-input);
}

/* Checkboxes & radios */

input.crm-form-radio + label, 
input.crm-form-checkbox + label {
    margin-left: 7px;
}
.crm-container [type="checkbox"], 
.crm-container [type="radio"] {
    accent-color: var(--crm-input-radio-color);
  }

/* Select2 */

.crm-container .select2-container {
    width: max-content !important;
}
.crm-container .select2-container-multi .select2-choices,
.crm-container .select2-container .select2-choice {
    background: var(--crm-input-background);
    border: 1px solid var(--crm-input-border-color);   
    border-radius: var(--crm-input-border-radius);
    box-shadow: var(--crm-input-box-shadow);
    height: var(--crm-input-height);
    padding: var(--xs1) var(--r2) var(--xs1) var(--m);
}
.crm-container .select2-container .select2-choice .select2-arrow {
    background: var(--crm-input-background);
    border-left-color: var(--crm-input-border-color);  
    border-radius: 0 var(--crm-input-border-radius) var(--crm-input-border-radius) 0;
    text-align: center;
    width: var(--r3);
}
.crm-container .select2-container .select2-choice .select2-arrow b {
    display: none;
}
.crm-container .select2-container-multi .select2-choices::before,
.crm-container .select2-container .select2-choice .select2-arrow::before {
    font-family: "FontAwesome";
    font-style: normal;
    text-rendering: auto;
    font-size: .8em;
    color: var(--crm-text);
    background: none;
    content: var(--crm-input-dropdown-icon);
    right: 0;
    top: var(--s);
    display: block;
    height: var(--r);
    position: absolute;
    width: var(--r2);
}
.crm-container .select2-container .select2-choice .select2-arrow::before {
    top: var(--xs);
}
.crm-container .select2-dropdown-open .select2-choice, 
.crm-container .select2-dropdown-open .select2-choices {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: var(--crm-focus);
    box-shadow: none;
}
.crm-container .select2-container-multi .select2-choices .select2-search-field input {
    font-family: var(--crm-font);
    line-height: normal;
    margin: 0;
    padding: var(--s);
    min-height: unset;
}
/* Select dropdwon */

.select2-drop.select2-drop-active.crm-container {
    background: var(--crm-input-background);
    border-bottom-left-radius: var(--crm-roundness);
    border-bottom-right-radius: var(--crm-roundness);
    border-color: var(--crm-focus);
    right: -1px;
}
.select2-search::after {
    font-family: "FontAwesome";
    font-style: normal;
    text-rendering: auto;
    font-size: .8em;
    color: #4d4d69;
    color: #464354;
    content: "";
    font-size: 14px;
    position: relative;
    right: 20px;
}
.select2-search input {
    background-image: none !important;
    border-color: #66afe9;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 20px;
}
.crm-container .select2-results {
    font-size: var(--m2);
    padding: 0;
    margin: 0;
}
.select2-drop.select2-drop-active.crm-container .select2-results li {
    color: var(--crm-text);
    padding: var(--s);
    margin: 0;
}
.select2-drop.select2-drop-active.crm-container .select2-results .select2-highlighted {
    background: var(--crm-background3);
}