/* JQuery UI tabs */

.crm-container .ui-widget-header {
    font-family: var(--crm-font);
    background: var(--crm-tabs-bg);
    border: 0 solid transparent;
    border-radius: var(--crm-roundness) var(--crm-roundness) 0 0;
    padding: var(--s);
}
.crm-container .ui-tabs ul.ui-tabs-nav {
    display: flex;
    flex-wrap: wrap;
    gap: var(--crm-tab-gap);
    padding: var(--crm-tabs-padding);
}
#crm-container #civicrm-news-feed {
    border: 1px solid var(--crm-tab-border-col);
    border-radius: var(--crm-roundness);
}
.crm-container .ui-state-default, 
.crm-container .ui-widget-content .ui-state-default, 
.crm-container .ui-widget-header .ui-state-default, 
.crm-container .ui-button,
.crm-container .ui-button.ui-state-disabled:hover, 
.crm-container .ui-button.ui-state-disabled:active {
    background: var(--crm-tab-bg);
    border-radius: var(--crm-tab-roundness);
    border: 0 solid transparent;
    font-family: inherit;
    color: var(--crm-text);
    padding: 0;
}
.crm-container .ui-tabs .ui-tabs-nav li:hover,
.crm-container .ui-tabs .ui-tabs-nav li:focus {
    background: var(--crm-tab-bg-hover);
}
.ui-tabs .ui-tabs-nav {
    border-bottom: 1px solid var(--crm-tab-border-col);
}
.crm-container .ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background: var(--crm-tab-bg-active);
    border: var(--crm-tab-border-col-active);
    border-bottom: 0 solid transparent;
    margin: 0;
    padding: 0;
}
.crm-container .ui-helper-clearfix::before, 
.crm-container .ui-helper-clearfix::after {
    display: none;
}
.crm-container .ui-tabs ul.ui-tabs-nav a {
    color: var(--crm-tab-col);
    padding: var(--crm-tab-padding);
	font-weight: var(--crm-tab-weight);
	font-family: var(--crm-tab-font);
}
.crm-container .ui-tabs ul.ui-tabs-nav a em,
.crm-container .nav-tabs a .badge {
    font-family: inherit;
    font-style: inherit;
    background: var(--crm-tab-count-bg);
    color: var(--crm-tab-count-col);
    border-radius: var(--m2);
    min-width: var(--r2);
    display: inline-block;
    text-align: center;
    font-size: var(--m2);
    padding: 0;  
}
.crm-container #mainTabContainer ul.ui-tabs-nav a em {
    background: var(--crm-dash-tab-count-bg);
    color: var(--crm-dash-tab-count-col);
}
.crm-container li.crm-count-0 a.ui-tabs-anchor, 
.crm-container li.crm-count-0 a.ui-tabs-anchor em {
    color: var(--crm-tab-col);
}
.crm-container .ui-tabs ul.ui-tabs-nav .crm-count-0 a em,
.crm-container #mainTabContainer ul.ui-tabs-nav .crm-count-0 a em {
    background: var(--crm-background5);
    color: var(--crm-light-text);
}
.crm-container .ui-tabs ul li em:empty,
.crm-container .nav-tabs .badge:empty { /* this is to keep the height of tabs with empty badges */
    min-width: 1px !important; 
    visibility: hidden;
    width: 0 !important;
    padding: 0
} 
#crm-container .ui-tabs-panel {
    padding: var(--s);
}

/* Bootstrap tabs */

.crm-container .nav-tabs {
	border-bottom: 1px solid var(--crm-tab-border-col);
    gap: var(--crm-tab-gap);
}
.crm-container .nav-tabs > li > a {
	border: 1px solid transparent;
	border-radius: var(--crm-tab-roundness) var(--crm-tab-roundness) 0 0;
    display: block;
    margin-bottom: -1px;
}
.crm-container .nav-tabs > li > a:hover,
.crm-container .nav-tabs > li > a:focus,
.crm-container .nav-tabs > li.active > a,
.crm-container .nav-tabs > li.active > a:hover, 
.crm-container .nav-tabs > li.active > a:focus {
	color: var(--crm-text);
	background-color: var(--crm-tab-bg-hover);
	border: 1px solid var(--crm-tab-border-col);
	border-bottom-color: transparent;
}
.crm-container .nav-tabs > li.active > a {
    background: var(--crm-tab-bg-active);
}
.crm-container .panel-heading:has(.nav-tabs) {
    padding: var(--s) var(--m) 0 var(--m);
}

/* Dashboard */

.crm-container #mainTabContainer {
    border: var(--crm-dash-border);
    border-radius: var(--crm-roundness);
    display: var(--crm-dash-direction);
    grid-template-columns: var(--crm-side-tabs-width) auto;
    flex-direction: column;
    margin-bottom: var(--r1);
}
.crm-container #mainTabContainer .crm-contact-tabs-list {
    background: var(--crm-dash-tabs-bg);
    flex-direction: var(--crm-dash-tabs-flow);
    border-radius: var(--crm-dash-roundness);
    gap: var(--crm-dash-tab-gap);
    box-shadow: var(--crm-block-shadow);
    padding: var(--crm-dash-tabs-padding);
}
.crm-container #mainTabContainer .ui-tabs-nav li {
    background: var(--crm-dash-tab-bg);
}
.crm-container #mainTabContainer .ui-tabs-nav li.ui-tabs-active a,
.crm-container #mainTabContainer .ui-tabs-nav li:hover a,
.crm-container #mainTabContainer .ui-tabs-nav li:focus a {
    color: var(--crm-link);
    background: var(--crm-dash-tab-bg-hover);
}
.crm-container #mainTabContainer .ui-tabs-nav li .ui-tabs-anchor {
    display: grid;
    grid-template-columns: min-content auto min-content;
    width: 100%;
    padding: var(--crm-dash-tab-padding);
    gap: var(--m);
    align-items: center;
    border-radius: var(--crm-dash-roundness);
}
.crm-container #mainTabContainer .ui-tabs-nav li .ui-tabs-anchor i {
    font-size: var(--crm-dash-icon-size);
}
.crm-container #mainTabContainer .ui-tabs-nav li.ui-tabs-active {
    border: 0 solid transparent;
}

/* Contact Dashboard - body */ 

#mainTabContainer .crm-contact-tabs-list ~ .ui-tabs-panel {
    flex-grow: 1;
    padding: var(--crm-dash-panel-padding);
}

/* Contact dashboard page */

#crm-main-content-wrapper:has(.crm-contact-page) {
    box-shadow: var(--crm-block-shadow);
}
#crm-container div.crm-summary-contactname-block {
    background: var(--crm-dash-header-bg);
    color: var(--crm-dash-header-col);
    min-height: 60px;
    padding: var(--m) 0 var(--s);
    position: relative;
}
#crm-container #crm-contactname-content .crm-summary-display_name {
    padding: var(--crm-dash-header-padding);
    font-size: var(--crm-dash-header-size);
  }
div.crm-summary-contactname-block + .crm-actions-ribbon {
    color: var(--crm-dash-header-col);
    background-color: var(--crm-dash-header-bg);
    margin-bottom: 0;
    clear: both;
}
.crm-contact-page {
    padding: 0;
}
#crm-container #crm-contactname-content > .crm-inline-block-content {
    display: flex;
    gap: var(--r);
    align-items: center;
}
#crm-container #crm-contactname-content .crm-edit-help {
    order: 2;
    position: relative;
    height: var(--l);
}
.crm-actions-ribbon ul#actions {
    list-style: none;
    display: grid;
    grid-template-columns: min-content min-content auto min-content min-content;
    gap: var(--m);
    margin: 0;
    padding: var(--crm-dash-header-padding);
    background: rgba(256,256,256,0.1);
}
.crm-actions-ribbon .crm-next-action,
.crm-actions-ribbon .crm-previous-action {
    margin-left: auto;
}
/* Responsive - using Bootstrap viewports */

@media (max-width: 990px) {
    #crm-container:has(.crm-contact-page) {
        padding: 0;
        width: 100%;
    }
}
@media (max-width: 768px) {
    .crm-container #mainTabContainer {
        flex-direction: column;
    }
    #mainTabContainer .crm-contact-tabs-list {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    .crm-actions-ribbon ul#actions {
        display: flex;
        flex-wrap: wrap;
    }
    .crm-actions-ribbon .crm-next-action, 
    .crm-actions-ribbon .crm-previous-action {
        margin-left: inherit;
    }
}
@media (max-width: 500px) { /* shows only icons for contact dashboard */
    .crm-container #mainTabContainer .ui-tabs-nav li .ui-tabs-anchor i {
        font-size: var(--r);
    }
    .crm-container #mainTabContainer ul.ui-tabs-nav a span {
        display: none;
      }
}
