#civicrm-menu > .riverlea-mode-toggle-item {
  float: right;
}
.riverlea-mode-toggle-wrap {
  padding-inline: var(--crm-padding-medium);
  height: 42px;
  display: flex;
  align-items: center;
}
#crm-menubar-toggle-position + .riverlea-mode-toggle-item {
  padding-left: var(--crm-padding-small);
}
.riverlea-mode-switch {
  position: relative;
  width: var(--crm-l-large-1);
  height: 28px;
  border: 0;
  border-radius: 100px;
  cursor: pointer;
  transition: background .2s ease, transform .2s ease;
  padding: 0;
  outline: none;
  background: var(--crm-input-toggle-button-bg);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .4);
}
.riverlea-mode-switch .riverlea-mode-thumb {
  position: absolute;
  top: 2px;
  left: 3px;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--crm-font-small-size);
  transition: left .2s ease, transform .2s ease, background .2s ease, color .2s ease;
  background: var(--crm-input-toggle-button-bg);
  color: var(--crm-text-color);
}
.riverlea-mode-switch[data-mode="light"] {
  background: var(--crm-input-toggle-disabled-bg);
}
.riverlea-mode-switch[data-mode="inherit"] {
  background: var(--crm-input-toggle-enabled-bg);
}
.riverlea-mode-switch[data-mode="inherit"] .riverlea-mode-thumb {
  left: var(--crm-l-medium-2);
}
.riverlea-mode-switch[data-mode="dark"] {
  background: var(--crm-paper);
}
.riverlea-mode-switch[data-mode="dark"] .riverlea-mode-thumb {
  left: 21px;
  background: var(--crm-c-darkest);
  border: 1px solid var(--crm-c-gray-800)
}
.riverlea-mode-switch:focus-visible {
  box-shadow: 0 0 0 2px var(--crm-focus-color);
}
@media (max-width: 991px) {
  #crm-menubar-toggle-position + .riverlea-mode-toggle-item {
    padding-left: 12px;
  }
}
