<ul ng-if=":: $ctrl.paramExists('join')" class="crm-search-admin-joins">
  <li ng-repeat="join in $ctrl.savedSearch.api_params.join" ng-if="join[1] === 'EXCLUDE'">
    <!--
    <div class="crm-search-join-type-label">
      <i class="crm-i fa-link-slash" role="img" aria-hidden="true"></i>
      {{ ts('Without') }}
    </div>
  -->
    <div class="crm-search-admin-join panel">
      <div class="panel-heading">
        <div>
          <i class="crm-i {{:: $ctrl.getJoin(join[0]).icon }}" role="img" aria-hidden="true"></i>
          {{:: ts($ctrl.getJoin(join[0]).entity) }}</label>
          <input class="form-control crm-search-join-label twenty" ng-model="$ctrl.getSetJoinLabel(join[0])" ng-model-options="{getterSetter: true, updateOn: 'blur'}" placeholder="{{:: $ctrl.getJoin(join[0]).defaultLabel }}" title="{{:: ts('Optional label for this join') }}">
        </div>

        <div class="crm-buttons ">
          <button type="button" class="btn btn-xs btn-danger-outline" ng-click="$ctrl.removeJoin($index)" title="{{:: ts('Remove join') }}">
            <i class="crm-i fa-trash" role="img" aria-hidden="true"></i>
            {{:: ts('Remove') }}
          </button>
        </div>
      </div>
      <div class="panel-body crm-search-admin-join-extra-conditions">
        <crm-search-clause clauses="join" format="json" skip="2 + $ctrl.getJoin(join[0]).conditions.length" op="AND" label="{{:: ts('Where') }}" hide-label="true" placeholder="ts('Add Condition')" fields="fieldsForJoin(join[0])" ></crm-search-clause>
      </div>
    </div>
  </li>
  <li>
    <div class="crm-search-join-add">
      <label class="sr-only">{{ ts('Add without') }}</label>
      <input id="crm-search-add-join"
        class="form-control crm-action-menu"
        crm-ui-select="{placeholder: ts('Add without'), data: getJoinEntities}"
        on-crm-ui-select="$ctrl.addExcludedJoin(selection)">
    </div>
  </li>
</ul>