<div class="panel">
  <div class="panel-heading">
    <i class="crm-i fa-chain"></i>
    {{:: ts('Linked Entities') }}
  </div>

  <div class="panel-body">

  <div ng-if=":: $ctrl.paramExists('join')" class="crm-search-joins">
    <div ng-repeat="join in $ctrl.savedSearch.api_params.join" class="crm-search-join panel">
      <div class="form-inline panel-heading">
        <label title="{{:: getJoin(join[0]).defaultLabel }}">
          <i class="crm-i {{:: getJoin(join[0]).icon }}" role="img" aria-hidden="true"></i>
          {{:: ts(getJoin(join[0]).entity) }}</label>
        </label>
        <input class="form-control crm-search-join-label twenty" ng-model="$ctrl.getSetJoinLabel(join[0])" ng-model-options="{getterSetter: true, updateOn: 'blur'}" placeholder="{{:: getJoin(join[0]).defaultLabel }}" title="{{:: ts('Optional label for this join') }}">
        <button type="button" class="btn btn-xs btn-danger-outline" ng-click="$ctrl.removeJoin($index)" title="{{:: ts('Remove join') }}">
          <i class="crm-i fa-trash" role="img" aria-hidden="true"></i>
        </button>
      </div>
      <div class="panel-body">
        <details class="api4-clause-fieldset">
          <summary>{{ ts('Join Conditions') }}</summary>
          <div class="form-group">
            <label>{{ ts('Join type') }}</label>
            <select class="form-control crm-auto-width" ng-model="join[1]" ng-change="$ctrl.changeJoinType(join)" ng-options="o.k as o.v for o in ::joinTypes" ></select>
          </div>
          <crm-search-clause clauses="join" format="json" skip="2 + getJoin(join[0]).conditions.length" op="AND" label="{{:: ts('If') }}" hide-label="true" placeholder="ts('Add Condition')" fields="fieldsForJoin(join[0])" ></crm-search-clause>
        </details>
        <details open class="crm-search-select-fields">
          <summary>{{:: ts('Fields') }}</summary>
          <crm-search-admin-entity-fields join="join[0]"></crm-search-admin-entity-fields>
        </details>
      </div>
    </div>
  <div class="crm-search-join-add">
      <label class="sr-only">{{ ts('Linked entity') }}</label>
      <input id="crm-search-add-join"
             class="form-control crm-action-menu"
             crm-ui-select="{placeholder: ts('Add linked entity'), data: getJoinEntities}"
             on-crm-ui-select="$ctrl.addJoin(selection)">
  </div>
  </div>
</div>
</div>