<div class="crm-search-admin-main panel panel-info">

  <div class="panel-heading" ng-if="$ctrl.savedSearch.api_entity">
    <div>
      <i class="crm-i {{:: $ctrl.getMainEntity().icon }}" role="img" aria-hidden="true"></i>
      {{:: $ctrl.getMainEntity().title_plural }}
      <span>({{:: ts('Primary Entity') }})</span>
    </div>
    <div class="form-inline" ng-if="!$ctrl.savedSearch.id">
      <label for="crm-search-main-entity">{{:: ts('Change Primary Entity') }}</label>
      <input id="crm-search-main-entity" class="form-control twenty collapsible-optgroups" ng-model="$ctrl.savedSearch.api_entity" crm-ui-select="::{allowClear: false, data: mainEntitySelect}">
    </div>
  </div>

  <div class="panel-body">

    <crm-search-admin-entity-fields></crm-search-admin-entity-fields>
  </div>

</div>

<div ng-include="'~/crmSearchAdmin/crmSearch-joins.html'"></div>

<div class="api4-clause-fieldset crm-search-wheres panel panel-info">
  <div class="panel-heading">
    <i class="crm-i fa-filter"></i>
    {{:: ts('Filters') }}
  </div>
  <div class="panel-body">
    <crm-search-clause clauses="$ctrl.savedSearch.api_params.where" format="string" op="AND" label="{{:: ts('Where') }}" hide-label="true" fields="fieldsForWhere" allow-functions="$ctrl.paramExists('groupBy')" ></crm-search-clause>
  </div>
</div>