<div class="crm-search-select-fields panel">
  <div class="panel-heading">{{:: ts('Fields and Field Functions') }}</div>
  <div class="panel-body">
    <crm-search-admin-fields></crm-search-admin-fields>
  </div>
</div>

<div ng-if=":: $ctrl.paramExists('groupBy')" class="crm-search-groupbys panel">
  <div class="panel-heading">{{:: ts('Group By') }}</div>
  <div class="panel-body">
    <div class="form-inline" ng-repeat="groupBy in $ctrl.savedSearch.api_params.groupBy" class="crm-search-groupby">
      <label for="crm-search-groupBy-{{ $index }}">{{:: ts('Group By') }}</label>
      <crm-search-function class="form-group" expr="$ctrl.savedSearch.api_params.groupBy[$index]" mode="groupBy"></crm-search-function>
      <span ng-if="!$ctrl.hasFunction($ctrl.savedSearch.api_params.groupBy[$index])">
            <input id="crm-search-groupBy-{{ $index }}" class="form-control crm-auto-width" ng-model="$ctrl.savedSearch.api_params.groupBy[$index]" crm-ui-select="{placeholder: ' ', data: fieldsForGroupBy}" ng-change="changeGroupBy($index)" />
          </span>
      <hr>
    </div>
    <div class="form-inline crm-search-groupby-add">
      <input id="crm-search-add-groupBy"
             class="form-control crm-action-menu fa-plus"
             crm-ui-select="{placeholder: ts('Group By'), data: fieldsForGroupBy}"
             on-crm-ui-select="$ctrl.addParam('groupBy', selection)" >
    </div>
  </div>
</div>

<div ng-if="$ctrl.paramExists('having')" class="api4-clause-fieldset crm-search-havings panel">
  <div class="panel-heading">{{:: ts('Having') }}</div>
  <div class="panel-body">
    <crm-search-clause clauses="$ctrl.savedSearch.api_params.having" format="string" op="AND" label="{{:: ts('Having') }}" hide-label="true" help="having" fields="fieldsForHaving" aliases="$ctrl.savedSearch.api_params.select" ></crm-search-clause>
  </div>
</div>

<div class="crm-search-expiry panel">
  <div class="panel-heading">{{:: ts('Expires') }}</div>
  <div class="panel-body">
    <i class="crm-i fa-calendar-times-o" role="img" aria-hidden="true"></i>
    <input id="expires_date" class="form-control" crm-ui-datepicker="{time: true}" ng-model="$ctrl.savedSearch.expires_date" placeholder="{{:: ts('Expires') }}">
  </div>
  </div>
</div>

<div class="crm-search-expiry panel">
  <div class="panel-heading">{{:: ts('Query Info') }}</div>
  <div class="panel-body">
    <div ng-include="'~/crmSearchAdmin/crmSearch-query.html'"></div>
  </div>
  </div>
</div>